[2020-09-07 02:12] ebeshero opened #1 "Want to join the introDH-Hub?"
Please respond here with your new GitHub account to ask to be added as a collaborator on this repo!

[2020-09-07 02:55] natalyamyers commented on #1
This is Natalya Myers, my username is @natalyamyers I would like to be added!

[2020-09-07 04:09] ebeshero opened #2 "Messing with Markdown"
This is an issue to help introduce you to [Markdown](https://guides.github.com/features/mastering-markdown/). Reply to this and experiment with markdown!

# Heading 1
## heading 2
### heading 3

- list item

- list item
   - list in list
   - list in list

Sharing code in code blocks:
`<tags>`  are going to disappear
Code block:

[code]

[2020-09-07 10:51] am0eba-byte commented on #1
Add me please! This is Mia

[2020-09-07 16:00] amw6765 commented on #1
My name is Anthony W @amw6765. @ebeshero please add me as a collaborator!

[2020-09-07 16:16] bpm5520 commented on #1
This is Brandon M, I would like to be added as a collaborator!

[2020-09-07 17:25] tomsheehy commented on #1
Hi, Dr. B! I would like to be added please.

[2020-09-07 19:10] am0eba-byte commented on #2
### nice marmot

[code]
# Well, that's just, like,
## your *opinion*
man

[2020-09-07 19:22] arrowarchive commented on #1
This is Rachel G, and I'd like to be added, please!

[2020-09-07 19:23] JesseBeckwith1998 commented on #1
This is Jesse B and would like to be added, please.

[2020-09-07 19:29] ebeshero commented on #1
@natalyamyers @am0eba-byte @amw6765 @arrowarchive @JesseBeckwith1998 @tomsheehy @bpm5520 I've just invited each of you to join this repo! You'll need to accept my invitation to join: Do that my checking the email you used to create your GitHub account, and accepting the invite.

[2020-09-07 19:42] dxh405 commented on #1
Hello Dr.B! I would like to be added!

[2020-09-07 19:46] AlexanderRAnderson commented on #1
This is Alex Anderson. I would like to be added.

[2020-09-07 19:48] mws6176 commented on #1
This is Matt Schnelle, I would like to be added.

[2020-09-07 19:48] BenS6206 commented on #1
This is Ben Simon, I would like to be added please!

[2020-09-07 19:48] Joelpie commented on #1
Hello, my username is @Joelpie, I'd like to be added.

[2020-09-07 19:50] amw6765 commented on #2
# Heading Bold
<hide> tag
## Lincoln

[2020-09-07 19:51] kzp308 commented on #1
This is Kyara Parrish, I would like to be added please!

[2020-09-07 19:51] gabbiedoster commented on #1
Hello, this is Gabbie Doster, I would like to be added.

[2020-09-07 19:51] arrowarchive commented on #2
##Heading Bold

[2020-09-07 19:52] Joelpie commented on #2
# Markdown 2:
## Electric Boogaloo

[2020-09-07 19:52] dxh405 commented on #2
**BOLD**
*Italics*

As Danny once said:

[2020-09-07 19:53] arrowarchive commented on #2
1. Realize that I have no experience with code
1. Practice code on a Markdown page
1. repeat

[2020-09-07 19:54] tomsheehy commented on #2
*Italics*
_Italics_
~~Strike~~

[2020-09-07 19:55] natalyamyers commented on #2
# playing with markdown
I have done this before **but** I could always use more practice

[2020-09-07 19:55] Janman813 commented on #1
Hi this is Janet Pituch, I would like to be added.

[2020-09-07 19:55] gabbiedoster commented on #2
Practicing markdown

[2020-09-07 19:55] jzm6677 commented on #1
This is Jalen Moss, I would like to join.

[2020-09-07 19:55] arrowarchive commented on #2
**and it's ONE!**
**TWO!!**
**Three strikes, you're out! at the old, ball game!!!**

[2020-09-07 19:56] NickyV1234 commented on #1
hey its Nicky i would like to be added

[2020-09-07 19:56] AlexanderRAnderson commented on #2
# **Bold** and *Brash*
## **More like, belongs in the trash**

[2020-09-07 19:56] pxl5083 commented on #2
It has been so long since I have coded

[2020-09-07 19:57] xsierraallen commented on #1
Hey! It's Sierra and I would love to be added.

[2020-09-07 19:57] bpm5520 commented on #2
*Italics*
**Bold**
_**Bold and Italic**_
~~Nothing to see here~~

[2020-09-07 20:00] kzp308 commented on #2
# Let's see if this works cause i haven't coded in a long time

## Let's see if this works cause i haven't coded in a long time

[2020-09-07 20:00] tomsheehy commented on #2
😎

[2020-09-07 20:01] kzp308 commented on #2
<h2> ok yes it did lol </h2>

[2020-09-07 20:01] nxh5137 commented on #1
It's Nathan... can I join?

[2020-09-07 20:01] gabbiedoster commented on #2
I've never coded not sure how this works

[2020-09-07 20:01] arrowarchive commented on #2
~~this is the best I can do for now~~

[2020-09-07 20:02] kzp308 commented on #2
<ol>
im
just
practicing
</ol>

[2020-09-07 20:03] arrowarchive commented on #2
@ebeshero My constant notifications were due to you inviting people.

[2020-09-07 20:05] ebeshero commented on #2
@arrowarchive This is probably going to send you a notification!

[2020-09-07 20:06] NickyV1234 commented on #2
### heading 1?
### heading 2?
### hello

- stuff

- thingss

[2020-09-07 20:07] kzp308 commented on #2
<ol>
<h1> my list </h1>
<h2>
<li> i have some css experience</li>
<li> but this is much easier for me</li>
<li> we'll see if i get the hang of markdown</li>
</h2>
</ol>

[2020-09-07 20:07] ebeshero commented on #2
Markdown codeblock:
[code]

[2020-09-07 20:07] arrowarchive commented on #2
😛

[2020-09-07 20:08] arrowarchive commented on #2
😉 🤔 🤷‍♀️

[2020-09-07 20:09] am0eba-byte commented on #2
### Public Service Announcement
## top secret
if you hover over someone's username w/ your cursor, you can see their lil profile bio

[2020-09-07 20:10] BenS6206 commented on #2
this is **bold**
this is _not bold_

1. This
1. is
1. a
1. list!

[Link](google.com)

[2020-09-07 20:13] xsierraallen commented on #2
I think this is **bold**
This is _italics_

[2020-09-07 20:15] xsierraallen commented on #2
**A List**
1. Did
1. I
1. Do
1. It?

[2020-09-07 20:45] Meganpeck115 commented on #2
Yeah, I am not quite sure on how all of this works. I am confused!

[2020-09-07 21:57] ypl5391 commented on #1
This is Yuchen Liu, may I join in?

[2020-09-07 23:42] JesseBeckwith1998 commented on #2
**This is is going to be bold**
_This text will be italicized_

Hopefully

[2020-09-08 00:28] nxh5137 commented on #2
💯 💯 💯 💯 💯 💯 💯 💯 💯 💯💯 💯 💯 💯 💯 💯 💯 💯 💯 💯💯 💯 💯 💯 💯 💯 💯 💯 💯 💯💯 💯 💯 💯 💯 💯 💯 💯 💯 💯💯 💯 💯 💯 💯 💯 💯 💯 💯 💯💯 💯 💯 💯 💯 💯 💯 💯 💯 💯💯 💯 💯 💯 💯 💯 💯 💯 💯 💯💯 💯 💯 💯 💯 💯 💯 💯 💯 💯💯 💯 💯 💯 💯 💯 💯 💯 💯 💯💯 💯 💯 💯 💯 💯 💯 💯 💯 💯

### 100 100 times 👍

[2020-09-08 02:56] pxl5083 commented on #2
1. Is this right?

[2020-09-08 02:56] pxl5083 commented on #2
<xml>
     <tag type="markup">Markup is awesome!</tag>
</xml>

[2020-09-08 02:59] pxl5083 commented on #1
This is Peter Lamis, If I am not already, may I be added?

[2020-09-08 16:05] ebeshero commented on #1
@argynarg @Joelpie @pxl5083 @ypl5391 Please check the email you used to create your GitHub account, and accept the invitation from me to join this repo.

[2020-09-08 16:46] hjl5363 commented on #1
This is Harrison Lilley and I would like to please be added. @ebeshero

[2020-09-09 18:42] mws6176 commented on #2
# Shot in the dark
1. I think this is **bold**
2.  *This should be italicized*
3.  _Hopefully **this** is **both**_

[2020-09-09 19:28] ebeshero opened #3 "DIGIT 100 Comparative Website Development: Draft"
I'm sketching this out in markdown before formalizing our assignment elsewhere. (This is a standard use of the Issues board for workshopping ideas on a project.)

I'd like each student to develop a public-facing website that represents you and your academic interests and your work professionally. Eventually this can be a basis for a web portfolio that can point to your project work and accomplishm

[2020-09-09 20:04] ebeshero opened #4 "index.md packaged with loving care by the Cayman Theme developers"
https://github.com/ebeshero/testerRepo/blob/master/docs/index.md

[2020-09-09 20:06] ebeshero commented on #4
Here's the code:

## Welcome to GitHub Pages

You can use the [editor on GitHub](https://github.com/ebeshero/testerRepo/edit/master/docs/index.md) to maintain and preview the content for your website in Markdown files.

Whenever you commit to this repository, GitHub Pages will run [Jekyll](https://jekyllrb.com/) to rebuild the pages in your site, from the content in your Markdown files.

### Markd

[2020-09-11 19:11] ebeshero opened #5 "How I work with Git / GitHub on my computer"
I switched from a PC to a Mac a while ago, and had to access my old GitHub repositories on a new computer. I cloned my repositories inside the Mac command line terminal, and I configured my GitHub account there, too, in a few careful but quick steps. Here's the [Mac-specific documentation](https://docs.github.com/en/github/getting-started-with-github/set-up-git) I followed, which is really close t

[2020-09-11 20:11] ebeshero opened #6 "Help! Can't get Git Bash to work"
I can't get this to work. I tried this...
Here's some code I tried...

[code]
@ebeshero

[2020-09-13 20:44] arrowarchive commented on #6
@ebeshero, I was able to submit the image to my repo, but it is not showing up under my commits. Is it because it takes a while, or is it because I did something wrong?

edit: it was because I typed the wrong thing. However, I have another issue: the image link is displayed, but the image itself won't appear when viewing the commit. Is there a way to view it automatically?

Also, I don't know how

[2020-09-16 06:28] #3 closed, assigned to nobody

[2020-09-21 19:31] ebeshero opened #7 "Workshopping Websites"
Post links to your websites in progress here in this issue if you'd like to get some viewer response. Include any commentary or questions about things you'd like to do or add or change!

[2020-09-21 19:40] arrowarchive commented on #7
@ebeshero, this is the link to my current GitHub website: [The Arrowarchive](https://arrowarchive.github.io/The-Arrowarchive/)

I plan to create thumbnails for my pictures that redirect to individual tabs for the image, changing my layout, and showing my profile picture on front page (and I really want to do the last one, since I mentioned it on my FAQ, but I don't know how to do that/if I can do

[2020-09-21 19:42] ebeshero commented on #7
[Link to my site](https://newtfire.org/courses/introDH/comparativeWebAssign.html). I'd love to know what you think of the color choice and fonts here. Should I change my headings? Do you notice any errors?

[2020-09-21 19:46] am0eba-byte commented on #7
[do the click to get my git](https://am0eba-byte.github.io/personal-remote-repo/)
[and also my Wordpress](https://sites.psu.edu/mborgiadigportfolio/)
I definitely want to put more into my GitHub pages, but I'd appreciate feedback on any aspect of both of them. Be as cruel and critical as you'd like

[2020-09-21 19:48] NickyV1234 commented on #7
[my psu site that i have very little work done on but its still something](https://sites.psu.edu/nickdig100/)

[2020-09-21 20:11] ebeshero commented on #7
@arrowarchive and all interested in image display issues.  Here is some code that you can adapt to alter the display size of your image on your webpage:

[code]

[2020-09-21 20:12] ebeshero commented on #7
This HTML code is equivalent to the markdown for images, only it gets you more detail:
[code]

[2020-09-21 20:18] ebeshero commented on #7
How to link a thumbnail (small image) to [a larger image](url):

[code]

Thumbnail linking to full-size image:
[code]

[2020-09-22 02:53] ebeshero opened #8 "How to customize a GitHub Pages theme layout"
Customizing a GitHub Pages Layout is a little challenging, but you can do it with just a beginner's experience with code if you're determined and observant. The challenge is learning how to read and find just the code you need and figuring out how to adapt it from examples. I can get you started with my own experience doing this.

* Begin with GitHub Pages' own brief explanation of how to customiz

[2020-09-22 03:40] ebeshero commented on #8
Here is how I modified the Cayman Theme to add my own buttons on this site: https://digitalmitford.github.io/DigMitCS/

I followed the steps above to bring the [Cayman Theme's _layouts/ folder](https://github.com/pages-themes/cayman/blob/master/_layouts/default.html) into my repo.

Then I took a look at this code in _layouts/default.html:

[code]

I could see that this code was creating the button

[2020-09-23 20:36] am0eba-byte opened #9 "Embed Youtube Videos in GitPages"
[code]

^^ I got the embed link by clicking "share" under the youtube video and clicking "embed," **You only have to copy the embed link from "src" to "true" (I think!)

[2020-09-25 13:13] arrowarchive commented on #8
@ebeshero, I got the profile picture to work, but now I have an interesting problem. The picture shows up when I'm on my FAQ, Archive page, Main Page, and the "More About Me" page, but when I open up an image in the archive, the icon disappears and only the alt text is visible. You can see this for yourself if you view an image in my archive, but I don't know if it's a layout issue or an issue wit

[2020-09-25 17:43] ebeshero opened #10 "Hypothes.is API access"
* General Instructions: https://web.hypothes.is/blog/viewing-and-exporting-hypothesis-annotations/

* https://jonudell.info/h/facet/?group=Z75eBVkM&tag=tag%3Ahistory&max=50

* Developer Token: https://hypothes.is/account/developer

* Access our private group by **reformatting** this url with your own API info:
**http://jonudell.net/h/facet.html?facet=user&search=judell&token=6879-76…ac0**
[code]

[2020-09-25 21:23] arrowarchive commented on #8
@ebeshero As of today, I have 140 commits in my repo. That will increase after adding my reflection, and I have a feeling that number will keep increasing.

Maybe at a later time, I'm considering adding some code to the website that will prevent most people from downloading images. A number of reposted images are downloaded through right-clicks then saving the image, so that would be a form of sec

[2020-09-30 19:24] ebeshero opened #11 "Voyant Exercise: Post a Visualization from Voyant Tools here"
Experiment with <a href="https://voyant-tools.org/">Voyant Tools</a> on any collection of data from our annotations, or from the readings themselves. Post a visualization and explain what you did to create it on our introDH-Hub Issues Board here. Capture some embed code for putting your visualization on a website and include that with your post.

[2020-09-30 21:06] ebeshero commented on #11
For those who need it: here is a direct link that you can access from your Penn State Google accounts to my Google Drive folder for DIGIT 100. One of the sheets you may find there contains all 546 of our annotations. You can make a copy of it and try sorting it as you like to organize by a column, say by tags:
https://drive.google.com/drive/folders/1vH4FCZp2nKT9szBQoJnja4-uesA_e0G8?usp=sharing

[2020-09-30 21:15] am0eba-byte commented on #11
[This Vast Conspiracy of Memory Voyant Visualization](https://voyant-tools.org/?corpus=fa519561ab971556f3e4185e90281306&visible=155&view=Cirrus)

![VastConspirMem_Voyant](https://user-images.githubusercontent.com/70165410/94740032-ebdec400-033f-11eb-821f-1f791708dfb9.png)

I was able to create this lingual visual by painstakingly highlighting the entire text of Khalid Warsame's "The Vast Conspirac

[2020-10-01 19:05] ypl5391 commented on #11
https://voyant-tools.org/?corpus=68a61e7cd8ea132cdae4c9c19cb7d894&view=Cirrus
I create this by put the annotation "Colonialism is the exploitation of another country for economic gain, however this practice stems from another called Mercantilism. Mercantilism is the theory that there is a limited amount of wealth in the world and ones own country needs to maximize exports and limit imports thus le

[2020-10-01 19:08] arrowarchive commented on #11
I used _Voyant _Tools__ to create a chart of everything under the "Text" column from my spreadsheet (the text, as in, what I wrote in my annotations). Judging by my URL, I appear to look at things from an analytical standpoint, as I use the words "people, know, and examples" in a lot of my annotations. People was used the most, having used it in 17 times over the course of 28 annotations, and I wo

[2020-10-02 15:42] dxh405 commented on #11
I took the "LinguaCelta - Leaving Humanist" article we read and put it into Voyant. I played around with a bunch of the tools and settled on the "Links" tool. This tool gives you words that were linked with other words in the article. If you double click more words appear and give you even more context and what other key words were being used along with it.
https://voyant-tools.org/?corpus=2a8556d

[2020-10-02 15:57] Meganpeck115 commented on #11
I accessed the "Virtual Machine configuration" article we read and annotated, and inserted the entire article into the Voyant tool. Many tags appeared and also a graph of the relative frequencies among other things as well. What interested me the most were the common used words that you could adjust. Here is the link to access what I have been seeing.
https://voyant-tools.org/?corpus=dd773d4ee2db5

[2020-10-02 18:18] amw6765 commented on #11
<img width="1014" alt="Screen Shot 2020-10-02 at 2 13 02 PM" src="https://user-images.githubusercontent.com/70722523/94955993-6e3ec380-04b9-11eb-9158-5703c942c1a4.png">
I started by copying and pasting all of the quotes that my peers and I had posted. It is very interesting to see the different words that stood-out most when I did this. Ass you can see 'https' is the biggest and most frequent word

[2020-10-02 19:12] bpm5520 commented on #11
![WordCloud](https://user-images.githubusercontent.com/70908691/94960290-a39adf80-04c0-11eb-939b-2d8e3f352c98.png)

I took all of the annotations that I made and put them into Voyant. My most used words all had to deal with technology or computers, with both of those words even making multiple appearances. It's interesting that I mostly annotated things that I found the most interesting, being the

[2020-10-02 19:22] nxh5137 commented on #11
[voyant tools](https://voyant-tools.org/?corpus=8f238e6b4e402ce99c8d2a83cf95ff77&view=Cirrus)
I was able to make this by copying and pasting the link of '[This Vast Conspiracy of Memory](https://meanjin.com.au/essays/this-vast-conspiracy-of-memory/#annotations:15QOovChEeqm0g-Ika0MNA)' and then exporting the link to the lingual visual, and copying and pasting it into a hyperlink

[2020-10-02 19:38] gabbiedoster commented on #11
<img width="853" alt="Screen Shot 2020-10-02 at 3 27 39 PM" src="https://user-images.githubusercontent.com/70911505/94962100-e5795500-04c3-11eb-9c16-47ed1c15d588.png">
I copied all the text and pasted it into Voyant that the class used from the article, "Making Things and Drawing Boundaries". There were a total of 101 annotations. With Voyant Tools I found that the word "technology" was most used

[2020-10-02 19:57] natalyamyers commented on #11
<img width="390" alt="VoyantTools" src="https://user-images.githubusercontent.com/70730578/94963916-d3e57c80-04c6-11eb-891d-dbd5feb286ad.PNG">
I created this word cloud by pasting the link from the article "This Vast Conspiracy of Memory" <br>

I moved the number of words included to 195 so that I could compare the types of words that were most used to those that were used less frequently. All of

[2020-10-02 20:08] NickyV1234 commented on #11
![download](https://user-images.githubusercontent.com/70916831/94965031-bdd8bb80-04c8-11eb-8e03-bb771e3d0905.png)
here is all the phrases I was able to see for one of our first readings in the semester "The Inequities of our Remote Gathering Meeting Tools". When I first created it I didnt really see too many terms so I used the slider tool to increase the amount of terms to around 180

[2020-10-02 20:40] mws6176 commented on #11
I took all of the annotations from the passage, "The Inequities of our Remote Gathering Tools". The most used terms ended up dealing with the accessibility of zoom or similar programs. I decreased the number of terms as to see only the top of the most common.
https://voyant-tools.org/?corpus=6d5d34f0ca8408fa093d6ac15f55fd68&visible=75&view=Cirrus

[2020-10-02 20:58] jzm6677 commented on #11
I created a world could using the Voyant Tool by taking the tag column are spreadsheet for hypothesis.is.  I used the tags created by the everyone in the class.

https://voyant-tools.org/?corpus=df08ca837486bc09dadf5b9ca4d54d10

[2020-10-03 02:28] tomsheehy commented on #11
![Screen Shot 2020-10-02 at 9 42 14 PM](https://user-images.githubusercontent.com/70911575/94980478-2ee39780-04f8-11eb-9095-9661d07d5b6d.png)
I took the url's from 3 of my September annotations and pasted them into Voyant Tool. I found that "digital" was the most used word in my annotations and was used 68 times. There are a lot of computer related words. When I used the slider tool, it seemed lik

[2020-10-03 02:38] pxl5083 commented on #11
I took the entirety of my three favorite articles:
"What is Code"
"The Making Of A Digital Humanities Neo Luddite"
"The Vast Conspiracy of Memory"

This is what I got:

https://voyant-tools.org/?corpus=67ddcd77b36701424abcafafc4943d58&view=Cirrus

[2020-10-03 02:47] xsierraallen commented on #11
I copied the URL from the Lingua Celta article on Hypothes.is and pasted it into the Voyant Tools search engine. I was able to select a visual and find the embedded code for [https://voyant-tools.org/?corpus=4244a6e4895ff64101d018872717b29d&visible=85&view=Cirrus](url)
![voyant-logo-tiny](https://user-images.githubusercontent.com/70916885/94981568-46734e00-0501-11eb-8248-86601d83f26b.png)

[2020-10-03 03:13] BenS6206 commented on #11
I got this by copying all of our annotations for the article "The inequities of our remote gathering tools". It's worthy of note that things like "aug" are in here because each post had a header including when it was posted. https://voyant-tools.org/?corpus=134971b5a0cae12204f342778923eaad&documentFormat=SOURCE&documentFilename=&view=Documents

[2020-10-03 04:31] hjl5363 commented on #11
I copied this article URL into Voyant Tools to have a visual created for me. I discovered that one of the most frequently used words was location. https://voyant-tools.org/?corpus=240699f40dbcffa151fd6c42a07013fe<img width="596" alt="Screen Shot 2020-10-03 at 12 28 38 AM" src="https://user-images.githubusercontent.com/70916576/94983341-d4563580-050f-11eb-9cca-bfc5a8255633.png">

[2020-10-03 06:22] kzp308 commented on #11
![voyant](https://user-images.githubusercontent.com/70867065/94984864-cd82ef00-051e-11eb-94be-8e60d335e381.png)
I entered the URL of our reading, LinguaCelta. Humanist was the most used word. It was used 15 times. Quite a few words shared the lowest counts. This includes affect, academic, apparently, etc.

[2020-10-04 01:32] am0eba-byte opened #12 "AntConc Problemo"
I have my text file opened in Antconc, and I know it can read the text file because if I click the "File View" tab all of the text within the file appears - BUT when I try to "start" the Clusters/N-grams" frequency finder it shows absolutely nothing. Is there a selection I'm missing, or something? I tried starting the n-gram finder under almost every search term and min/max frequency setting, I'm

[2020-10-04 01:35] am0eba-byte commented on #12
Holy crud nevermind. I got it working, I just had to select the file on the left when I was under the "Clusters/N-Grams" tab, lol

[2020-10-05 20:50] ebeshero opened #13 "Preparing plain .txt text files for Macs using TextEdit"
So, in class today I was trying to figure out how to deal with converting Rich Text Format to plain text using Mac's TextEdit. Naturally, I found the solution 5 minutes after class was over. So here it is, and it's pretty easy. If your file is coming in with a lot of formatting, what you need to do in TextEdit is:
* Go to the Format menu
* Choose "Make Plain Text"

<img width="682" alt="Screen Sho

[2020-10-05 20:54] JesseBeckwith1998 commented on #11
![Voyant](https://user-images.githubusercontent.com/70914661/95130172-2b375700-072a-11eb-9ef1-c69f4c972275.jpg)
 I entered the text from the Digital Humanities Luddites and boundaries article excluding the notes and bibliography in order to focus on the actual article. The most used words were DH, Digital, and Humanities. I find it fascinating how the author used DH to shorten digital humanities a

[2020-10-06 03:52] tomsheehy commented on #11
I entered the text from one of our readings on Virtual Machine Configuration excluding the bibliography. I discovered one of the most frequently used phrases was "you can".

![Voyant3](https://user-images.githubusercontent.com/70911575/95157117-27c1c100-0766-11eb-805a-d367126b5fb6.JPG)

[2020-10-07 20:55] ebeshero opened #14 "Workshopping views from Voyant / Antconc"
Post some screen captures of your findings playing around with Antconc and/or Voyant Tools with combinations of texts available on our [Corpus Analysis Assignment](https://newtfire.org/courses/introDH/AntConAssign.html)! As you post, tell us a little about what you think is interesting!
* What questions come to mind as you look at the frequently used ngrams?
* How does one text seem to differ or c

[2020-10-08 17:47] arrowarchive commented on #14
@ebeshero, I used _AntConc_ to compare _Frankenstein_ and _Hamlet_, and I noticed something very similar between the two: the phrase "in the" is in the top three for each one, but after analyzing it further, the phrases are used differently in each story (see below: _Frankenstein_ is on the left, _Hamlet_ is on the right)

![compare1](https://user-images.githubusercontent.com/70866633/95494405-e00

[2020-10-09 15:25] Meganpeck115 commented on #14
I found _AntConc_ was a tad easier to use. I used two different articles. One was an Adobe photoshop article (top) and the other was a Adobe lightroom article (bottom). I saw that the ngrams in the first s=article contained a lot of hyperlinks until I began to scroll down and I could not quite understand why as my second one did not. The second article contained the words "red, green, blue, red" f

[2020-10-09 16:09] tomsheehy commented on #14
I used _Antconc_ to compare _Dracula_ and _Macbeth_. I quickly discovered that _Antconc_ is very user friendly and efficient for comparing articles. During my comparison, I learned that _Macbeth_ heavily used "Lady Macbeth", making it the most frequent used pair of words in the article with 71 times. Although her name may be used in stage settings, it shows how important Lady Macbeth's role is in

[2020-10-09 16:14] dxh405 commented on #14
I chose Dracula and Frankenstein as my two text files. I figured since they are both about "monsters" in a way there might be some interesting similarities between the two. Immediately once putting both through AntConc I discovered both had the phrase "of the" as the most frequent phrase.
![of the](https://user-images.githubusercontent.com/70723878/95606636-9a61c380-0a28-11eb-8f26-200f96d65618.PNG

[2020-10-09 16:34] bpm5520 commented on #14
I compared Dracula and Pride and Prejudice since they were both 19th century novels. With a limit of 2 word long n-grams, both had "of the" show up as the most in both works. As well, within the top 6 on both of them, it shows what I assume to be main characters of both, as "Van Helsing" and "Mr Darcy" show up hundreds of times in each respective work. I also compared them by 5 word long n-grams,

[2020-10-09 17:13] amw6765 commented on #14
<img width="1095" alt="MarlowFnT_NGram" src="https://user-images.githubusercontent.com/70722523/95611554-f9770680-0a2f-11eb-9d79-12acfcf5f66d.png">
After comparing the two different story .txt files of Marlow in AntConc, I was able to see some interesting similarities and differences. The N-Grams between the two seem to be mainly different from one another. Fatstus seems to have more clustering of

[2020-10-09 17:37] AlexanderRAnderson commented on #14
I used *AntConc* to compare Shakespeare's works, *Hamlet* and *Macbeth*. I was interested when I saw the "words", "s" and "d." Turns out they are just the contractions he used. I still thought I could find something interesting by looking at these contractions. I found that Shakespeare used contractions more frequently in *Macbeth* than in *Hamlet*. *Macbeth* was written in 1606 while *Hamlet* was

[2020-10-09 18:00] kzp308 commented on #14
I found that AntConc was easier to use for this type of comparative exercise. I used Dracula and Frankenstein to be compared for this exercise because I think it's in the spirit of October to do scarier works. I let there be a two word minimum and maximum. When I put Dracula into AntConc, I found that the most frequently used words were "of the". It was used 863 times in the text. When I put Frank

[2020-10-09 18:19] BenS6206 commented on #14
I examined Macbeth vs Hamlet to see if there were any differences in word usage between the two plays and found them to be more similar than I expected. The most frequen N-grams are pretty much the same in both and are fairly common sets of words. I was hoping for something a little more interesting considering the works being analyzed, perhaps increasing the maximum amount of words in each would

[2020-10-09 18:28] nxh5137 commented on #14
I compared _Frankenstein_ and _Pride & Prejudice_ in AntConc to see if there were any similarities to the two stories, looking at how frequent the words were used and saw similarities between the two. I had the N-Gram Size at a min. of 2 and a Max. of 4. 'of the' is the most frequent of the words in many sentences as you can see in the pictures below frequently used 990 times.
![Screenshot (17)](h

[2020-10-09 19:08] NickyV1234 commented on #14
The two texts that I analyzed were Charlotte Brontë, Jane Eyre and Emily Brontë, Wuthering Heights. one of the key things that I had realized was that one of the n grams that showed up was phrases that used bonnet. even though bonnet wasnt the most used word there were the most different types of phrases that it was used in.
![20201009_150215](https://user-images.githubusercontent.com/70916831/956

[2020-10-09 19:31] jzm6677 commented on #14
I used AntConc to look at Macbeth and Pride and Prejudice a n gram i saw often was in the.
![2](https://user-images.githubusercontent.com/70913490/95624183-7318ef80-0a44-11eb-9da2-6aee9302c7e4.png)

[2020-10-09 20:41] am0eba-byte commented on #14
Here's my tardy entry:
I decided to clean up and use Alice in Wonderland by Lewis Carrol and Dante's Inferno to compare through Antconc and Voyant. I know, they couldn't be more different pieces of literature: one's an Italian poem-epic(I used an English translation) and one is an English childrens' novel. I thought it would be interesting to explore these two because their stories draw some inter

[2020-10-13 04:11] hjl5363 opened #15 "Data Analyzation using AntConc and Voyant Tools - My Discoveries and Thoughts"
This assignment really taught me some very interesting things on analyzing data. One of the things that I could easily discover with Voyant Tools is that there would always be one word that would be used very frequently. For example, faustus was for sure a word of choice as visually indicated on the graph. In terms of using AntConc, I really like how I am able to compare data more graphically than

[2020-10-14 01:03] hjl5363 commented on #11
I did analysis on an article from the New York times regarding the COVID-19 pandemic and the increase in cases in the midwest. One of the most frequently used words that was not surprising to me was "Trump". A lot of controversy and drama has come towards him.

[
<img width="1792" alt="Screen Shot 2020-10-13 at 8 58 25 PM" src="https://user-images.githubusercontent.com/70916576/95931589-9373e180-0

[2020-10-14 18:43] gabbiedoster commented on #14
I decided to compare Shakespeare's _Romeo and Juliet_ (left) to Jane Austen's _Pride and Prejudice_ (right). In doing so, I found the n-grams of both the play and novel. In Shakespeare's _Romeo and Juliet_ most of the n-gram terms are individualized compared to the n-grams in _Pride and Prejudice_. One n-gram that's used frequently in both texts is "i am". Another discovery I made was most n-grams

[2020-10-14 19:27] ebeshero opened #16 "Google Sheets to TimeMapper: Starter Exercise"
Follow instructions here to copy my TimeMapper template to your Google Drive space and display it with TimeMapper.js.
https://github.com/newtfire/introDH-Hub/blob/master/oldFa2020-docs/timeMap.md

[2020-10-21 22:59] ebeshero opened #17 "TimeMapper Location Formula Update"
I think I found a more stable formula for pulling in map geo-coordinate data for location names for TimeMapper's Column J. Try replacing my original formula by copying and pasting this one into your cell K2 (Location column):

[code]
The website address in my formula is just slightly different than what I'd shared originally. Give this a try, and then copy and paste from K2 into your other cells i

[2020-10-21 23:02] ebeshero opened #18 "Updated Geomapping Formula for TimeMapper"
I think I found a more stable formula for pulling in map geo-coordinate data for location names for TimeMapper's Column J. Try replacing my original formula by copying and pasting this one into your cell K2 (Location column):

[code]
The website address in my formula is just slightly different than what I'd shared originally. Give this a try, and then copy and paste from K2 into your other cells i

[2020-10-23 19:49] ebeshero opened #19 "Share Draft Timemaps"
If you like, share links to your Google Sheet and published Timemapper here. Let us know if there's something you want to debug here.

[2020-10-23 19:53] arrowarchive commented on #19
I'm gonna test some things with images. Most of them are working fine, but two images in particular haven't been showing up.

I'll be adding these images over the weekend, so the image files can be checked. The areas I might need debugging on are F7 and F8, so if the images don't show on the official website, let me know.

Google sheet: https://docs.google.com/spreadsheets/d/1_Xn7QPDnXbW7TTinEkH0J

[2020-10-23 20:09] am0eba-byte commented on #19
[My Google sheet](https://docs.google.com/spreadsheets/d/1jpp-EhNMMI562E084DBBibnZrEgaFUCWgZxHY2VJ9K0/edit#gid=0)
[ZeTimeMapper](http://timemapper.okfnlabs.org/anon/801vn2-timemapstarter-digit100#0)

[2020-10-26 20:16] ebeshero opened #20 "Today's date, continually updating on a Google Sheet"
here's the fomula to paste into a cell:

[code]

[2020-10-28 19:23] ebeshero opened #21 "Frankenstein Variorum Views and Discussion"
## Explore the [Frankenstein Variorum Project](https://newtfire.github.io/introDH-Hub/timeMap.html) and related resources and background:
* PSU Behrend campus news article: https://behrend.psu.edu/feature/digital-text-brings-new-life-frankenstein
* Distant view of the whole novel and its 5 versions: https://slides.com/elisabeshero-bondar/frankie#/0/30
* my slideshow: https://slides.com/elisabesher

[2020-10-30 14:47] am0eba-byte commented on #21
Reading the 10 sections using the 1818 edition of Frankenstein as the default, I found it fascinating and extremely curious how Mary Shelley changed entire narratives of characters between this edition and the 1831 & Thomas editions. There is one such passage in section 6 that, in the 1818 version, is comprised of only 3 sentences. In that small passage, Victor writes to his sister of how the stra

[2020-11-01 15:26] arrowarchive commented on #21
I've noticed some interesting details when reading _Frankenstein_ over Variorum. I used the Thomas edition of the text as the default, and I made comparisons from there.

The first thing I noticed was that every volume besides the manuscript had a letter narrative (pictured below). This can be attributed to a lack of information prior to section seven, but it is still noteworthy.
![Screenshot (115

[2020-11-02 16:10] nxh5137 commented on #21
I used the 1831 version of _Frankenstein_ for the comparison and noticed some differences from the other versions of the text.

In the first picture below, in section 6, the 1831 version is much longer than the versions that came before it, and the manuscript version is not present. After reading both the comparisons, I noticed that they are both different from each other, and I am not just talkin

[2020-11-02 17:47] kzp308 commented on #21
I chose to look at the similarities and differences in the 1831 version and the Thomas copy version. When I looked through the 1831 version of Frankenstein, I found that there was a lot of better editing choices. I prefer the 1831 version to the Thomas copy version for this reason. The Thomas version was not bad with the editing, but it definitely felt more like the rough draft of a final paper. T

[2020-11-02 18:40] amw6765 commented on #21
Throughout reading the different versions of this story there were a lot of subtle differences regarding the use of words and sentence structures. For example, in section 7 when talking about his brothers the manuscript version sees to have a few less words than that compared to the 1818, 1823, and the Thomas versions. After reading more I began to see that the manuscript version was shorter in ho

[2020-11-02 19:26] bpm5520 commented on #21
When reading through section 6 in the 1831 edition, I noticed a few key differences compared to other versions. The main one being that the manuscript does not have this section in it, though the manuscript doesn't have 6 of the 10 sections that are on this variorum. As well, a few times in the section, it showed that the Thomas version had more detailed sentences compared to the 1831 edition, and

[2020-11-02 19:50] tomsheehy commented on #21
To start, I found the interface simple and easy to navigate. I was never overwhelmed by information which made analyzing the different passages fun and easy as well. I compared the 1823 version to the rest of the versions and I was quite fascinated. While reading, I found that the 1823 version seems to have less punctuation and detail than a few of the others.
<img width="1680" alt="Screen Shot 20

[2020-11-02 19:54] AlexanderRAnderson commented on #21
I was comparing general differences between all the versions of the text and something jumped out at me immediately. The revisions of the original text seem to make the language more concise and clear, generally shorter than the original. On the other hand, the 1831
 revision of the text seemed to do the opposite. The message is still more clear than the original in my opinion, but it is much long

[2020-11-02 19:59] mws6176 commented on #21
The section 7 of the 1831 edition of _Frankenstein_ exemplifies many errors throughout the passage, as apposed to the 10th version which has fewer corrections. The topics of each are also varied. Here is part of the 7th section:
![Screen Shot 2020-11-02 at 2 52 53 PM](https://user-images.githubusercontent.com/70854997/97912634-10510600-1d1b-11eb-82eb-33a6c0ee7114.png)

It can be seen how there are

[2020-11-02 20:22] BenS6206 commented on #21
I would say it was very interesting to see the changes to sections over time, with some sections going over changes with each and every iteration.
![Changes](https://user-images.githubusercontent.com/69773455/97914491-f664f280-1d1d-11eb-9404-725e3c3a78c0.png)
on the MS version it was interesting to see the crossed out areas that were corrected in itself. In the image above it can be seen that the

[2020-11-02 20:25] natalyamyers commented on #21
The first section I noticed that had varied differences was the beginning of chapter 2.
<img width="699" alt="1" src="https://user-images.githubusercontent.com/70730578/97914335-b69e0b00-1d1d-11eb-8f42-155dd5e36b4b.PNG">
I find it really interesting that she chose to take a different approach to this opening. I think I like the other versions as opposed to the original MS, just because I think the

[2020-11-02 20:34] pxl5083 commented on #21
Reading through the different issues and looking at the differences, one thing is consistent and that is the fact that the Thomas edition happens to be more descriptive and quick to the point.

![Screenshot (24)](https://user-images.githubusercontent.com/70915449/97915914-40e76e80-1d20-11eb-9b39-5201d2a52259.png)

Another instance of this:
![Screenshot (25)](https://user-images.githubusercontent.c

[2020-11-02 23:27] NickyV1234 commented on #21
![frank1](https://user-images.githubusercontent.com/70916831/97930087-acd5d100-1d38-11eb-9757-9f2b037e647f.JPG)
![frank 2](https://user-images.githubusercontent.com/70916831/97930094-af382b00-1d38-11eb-9955-fb701349c3b7.JPG)
![frank 4](https://user-images.githubusercontent.com/70916831/97930102-b0695800-1d38-11eb-82d5-719a05628af9.JPG)
![frank 3](https://user-images.githubusercontent.com/70916831/

[2020-11-03 00:26] xsierraallen commented on #21
I chose to read the Thomas Edition of Frankenstein as my default when comparing works. When looking at the first section, I compared it to the 1823 edition. The two works were extremely similar except for a few spelling errors here and there.
![Screenshot (23)](https://user-images.githubusercontent.com/70916885/97933290-4f458280-1d40-11eb-9f85-cb26e3add432.png)
I decided to compare the Thomas edit

[2020-11-03 01:33] hjl5363 commented on #21
I decided to answer the first two questions. Personally, I liked the 1818 version better due to the fact that too many things on your screen and excessive highlighting can be bothersome. The MS version is much worse with highlighting compared to the 1818 version. I think this is directly
<img width="1791" alt="Screen Shot 2020-11-02 at 8 30 39 PM" src="https://user-images.githubusercontent.com/709

[2020-11-04 01:18] gabbiedoster commented on #21
Before starting this assignment I briefly skimmed over each edition of the texts to see which one would catch my interest. For my comparisons, I decided to use the text analyze the text from the Thomas Edition and the 1832 edition of Frankenstein! I found these texts, personally, the most interesting way of telling the story. Secondly, I found many similarities, but found some interesting differen

[2020-11-04 20:10] ebeshero opened #22 "Frankenstein Variorum Micro-Comparison Exercise"
Look at the following combinations in the [Frankenstein Variorum Viewer](https://frankensteinvariorum.github.io/viewer/viewer/):

1) Version Thomas: Section 8: first full paragraph: Click on the two boxes highlighted and look at how the editions compare at each highlighted moment. Do you see any problems with what's being represented here?
<img width="651" alt="Screen Shot 2020-11-04 at 3 09 47 PM

[2020-11-04 21:10] NickyV1234 commented on #22
group 1 Nicky, Mia, Daniel, Anthony, Jalen

#1. for the highlighted section "misery, Elizabeth" if you replace it with the ms version the end of the edit becomes repetitive with the un altered lines. "Elizabeth had caught the scar  had caught the scarlet fever"

#2. In the 1831 version, the narrator was more passionate about explaining his youthful years, whereas the other four versions dont see i

[2020-11-04 21:13] arrowarchive commented on #22
I'm in group three with Natalya, Peter, and Kyara, and we studied section five of the 1818 edition of _Frankenstein_. We came to an agreement that this version was easy to read, as the setting was described in terms we understood while providing a clear picture.

The Thomas version made larger changes, but in small quantities. Most notably, an entire paragraph (pictured below) was rewritten and ex

[2020-11-04 21:15] Joelpie commented on #22
Howdy, I'm representing group #2.

We found it interesting that this entire paragraph of context and backstory was not including until the 1831 edition of Frankenstein. Up until this point, the prior sentence concluded with just the word "doctrine" (and even this was reportedly absent in the original edition). The word doctrine stayed from 1818 until it was replaced with the vast chunk of text hig

[2020-11-04 21:15] gabbiedoster commented on #22
Group Four (Gabbie, Harrison, Thomas, & Yuchen)
Answering Question #4:

Some moments of interest our Breakout room found in the 1818 Edition in Section 7 was many of the common word choice was found to be similar with also the 1823 and the Thomas Editions of Frankenstein. The Mary Shelley version slightly differed in its own way and had similar word usage. What we found most interesting is the 183

[2020-11-06 20:41] ebeshero commented on #21
If you'd like to link directly to a specific comment in this issue thread, click the three dots to the top right of it, and choose "Copy link". here's a sample of such a link: https://github.com/newtfire/introDH-Hub/issues/21#issuecomment-720653620

[2020-11-09 20:09] ebeshero opened #23 "Klee Wyck: Opening Sketches comparison: 1941 to 1951"
First, here's a **[simple view](https://docs.google.com/document/d/1rfk4FIyjxUXHsEwavE9ArLN_GpSgBt1DlvRmmcX7R6o/edit?usp=sharing)** of the original 1941 text of the first three sketches in Emily Carr’s *Klee Wyck*:

Now, here's a Google Docs **[comparison view](https://docs.google.com/document/d/1MkRY7FoYb4NQk-CerQdYi2GT7ZF3DRo7BojoAvxc1Zk/edit?usp=sharing)** of the first three sketches in Emily C

[2020-11-12 18:00] arrowarchive commented on #23
I have a lot to say about this.

First and foremost, the majority of the changes I have witnessed involve spacing, spelling, and punctuation. In one paragraph, the word "school-girl" is corrected to "school girl", removing the hyphen. Another instance of changes in punctuation is on page five, where the line "but I found that a grunt of welcome was always waiting inside" was edited in the 1951 ver

[2020-11-12 20:21] am0eba-byte commented on #23
Of the many cuts and alterations that the 1951 edition made on the original 1941 version, the deletion of this last paragraph in Ucluelet was the most disappointing to me:

"Up behind Toxis the forest climbed a steep hill and here in the woods
was one lonely grave, that of 'our only professed Christian Indian',
according to the Missionaries. The Missionaries had coffined him tight
and carried him

[2020-11-13 10:09] BenS6206 commented on #23
There were many areas where there were only minor revisions that mostly revolved around correcting grammar and such, but where I found more interesting changes was in the large areas that were removed or altered for instance this section talking about the stupidity of the missionary girl, and some lines of the daughter were also removed.
![image](https://user-images.githubusercontent.com/69773455/

[2020-11-13 15:33] xsierraallen commented on #23
When comparing Emily Carr's 1941 text to her 1951 revision, I noticed some changes that stood out more than others.
![Screenshot (36)](https://user-images.githubusercontent.com/70916885/99088389-fc6a9700-2599-11eb-8d6d-c863071af3d9.png)
This section of the text in 1951 revision, the paragraph describing the missionaries was rewritten. I am not exactly sure why, but they were described differently

[2020-11-13 17:36] dxh405 commented on #23
Looking past all of the changes made to the grammar and spacing, and spelling changes you will find a lot of things cut that were almost more critical of the missionaries. While these cuts tend to provide a much quicker explanations in some revisions I feel they are leaving out details that are taking away the character of some of them. There were several spots where the 51 version omitted things

[2020-11-13 18:00] pxl5083 commented on #23
Looking through the text, a few things are apparent, at least to me. The first thing that I noticed was that a lot of sections regarding missionaries were censored or cut out, to go even further than that, they were not only things about missionaries but negative things or descriptions of the missionaries. The thing about this, is that when people change descriptors about characters, it tends to c

[2020-11-13 18:41] kzp308 commented on #23
When I compared the two versions, I analyzed Ucluelet and Tanoo. I noticed that there were definitely a lot of changes in the 1951 version. However, I realize that most of the corrections have to do with spelling or punctuation errors. For example, in the first sentence there was a change in spelling where the author had changed "missionaries" to "Missionaries". It's a small change, but while read

[2020-11-13 19:08] tomsheehy commented on #23
While analyzing the Ucluelet, I realized that the passages that were removed seemed to be removed because paragraphs were too wordy. The changes made the passage easier to understand. The picture below shows a good example as a full paragraph was taken out and replaced with "had the most dignity".
<img width="1158" alt="Screen Shot 2020-11-13 at 1 43 05 PM" src="https://user-images.githubuserconte

[2020-11-13 19:17] bpm5520 commented on #23
Analyzing the Tanoo portion of the sketches, it is noticeable that a lot of the edits were of the same word being crossed out and rewritten the same. I am not sure why that is so, but it seemed to take up a significant portion of the edits.
![image](https://user-images.githubusercontent.com/70908691/99111571-6430da00-25ba-11eb-9159-c7408476f72a.png)
Other edits seemed to be of shortening or deleti

[2020-11-13 19:34] jzm6677 commented on #23
when comparing 1941 to 1951 I'd notice that a lot of paragraphs and sentence where just taken out.
![passage](https://user-images.githubusercontent.com/70913490/99113112-b672fa80-25bc-11eb-835f-b99a837006d5.png)
Going farther it was interesting a lot of it was the same just some words got crossed out. It was weird due to the fact words would get crossed off but be re written. As well as it had a l

[2020-11-13 19:41] JesseBeckwith1998 commented on #23
During my comparison of the 1941 and the 1951 texts, I noticed that most of the differences are of smaller stature in terms of them being spacing and capitalization differences.
however, there are some larger differences between the two texts with an example on the very first page of text where after I did a comparative analysis of the two documents through google, there is roughly half a paragrap

[2020-11-13 20:03] amw6765 commented on #23
While looking for the changes that were made in the 1951 edition, I came across a lot of small changes that had been made. They were usually a word here and there that had been taken out or a string of words in sentences that had been taken out. Most of the time you were still able to understand what was being said regardless if they had been altered in a small way. Also, I came across instances w

[2020-11-13 20:05] ebeshero opened #24 "Hypothes.is account issues"
Any issues with Hypothes.is access? Post here so we can help each other. Ping Dr. B at @ebeshero in your post so I see it right away.

[2020-11-13 20:05] nxh5137 commented on #23
While reading, I noticed that there were a lot of paragraph breaks, whether this is because of the Google Doc or the actual text I wouldn't know. Other than that though I have noticed some changes to the text. For example, on the eighth page, an entire paragraph is deleted from the story. This paragraph talked about what the missionaries were doing in the bedroom. So in the 1951 version, "The room

[2020-11-13 20:08] arrowarchive commented on #24
@ebeshero, were we supposed to do the annotations before class today? I was planning on doing them this weekend. If I have any issues with Hypothes.is, I'll post them here!

[2020-11-13 20:26] ebeshero commented on #24
@arrowarchive No: I'm just setting this up prior to class. This is to help with our next assignment.

[2020-11-13 20:30] Joelpie commented on #23
There are a vast number of changes between the two versions of text, and they range in size from omitting a hyphen or comma all the way to omitting entire paragraphs of description. The aforementioned grammatical corrections (though some can be called mere adjustments, as some words are moved to the next line without being grammatically incorrect) did not alter my reading experience, and instead p

[2020-11-13 20:35] mws6176 commented on #23
Reading over both editions, the common error to occur seemed to be the lack or capitalization. There were several different spots where this happened in each version. Here is just one example of a failure to capitalize:
![Screen Shot 2020-11-13 at 3 33 17 PM](https://user-images.githubusercontent.com/70854997/99118669-f2f72400-25c5-11eb-87e1-1062bf0ac639.png)

[2020-11-13 20:48] Janman813 commented on #23
In this comparison to both of these versions, I noticed that the grammar had changed in different ways. Some of the ways are adding hyphens, commas, new capitalization. For example, on the first page first sentence you see missionaries in lower case in the older version and then in the newer version, it is capitalized. another thing is on the first page and in she wrote "a fifteen year old school

[2020-11-13 21:22] hjl5363 commented on #23
For this assignment, I really love how Dr. Bondar was able to use a Google Doc to visually show comparisons. I think this was much better than the Variorum Viewer. The dots and highlights that were constantly on Variorum Viewer were confusing, and I think a Google Doc is better in the long run, especially in the remote environment that we are currently in. More specifically, I like how Google Docs

[2020-11-18 03:07] gabbiedoster commented on #23
When analyzing the differences between then 1941 version and 1951 of Emily Carr's _Kyee Wyck_, obvious trends I found were differences in punctuation and grammar. Although, I find that to be a commonly seen trend in revised pieces of work. The most interesting finds I found between both works was the amount of large paragraphs that were eventually removed in the later 1951 edition of _Kyle _Wyck_.

[2020-11-30 21:05] ebeshero opened #25 "Aurore"
Leave some notes about this game here if you like!

[2020-11-30 21:08] ebeshero opened #26 "Sand"
Your comments on the Sand game?
(Open a new issue for a different game)

[2020-11-30 21:09] hjl5363 opened #27 "Mac Issues"
Are any of you having issues with the latest Mac OS Big Sur update, specifically with enlarging windows? In addition, are any of you having issues with your battery and processor (if you own a 2019 MacBook Pro). I personally have 64 GB. of RAM with a 2.4 GHz 8-Core Intel Core i9 processor.

[2020-11-30 21:27] arrowarchive commented on #25
It was mentioned in the call, but I've been having framerate issues in the game. It should run fine, as I've run more detailed games such as _Ori and the Will of The Wisps_ with little to no lag. Here, it's a problem for me. My computer has 8 GB of RAM, so it should run most games pretty well.

I have a theory about it: almost everything in the game can be interacted with. The pathways are interac

[2020-12-02 20:43] ebeshero opened #28 "Games for Mac Users"
@amw6765 Please post your game finds here that are friendly for Mac users.

[2020-12-02 20:45] amw6765 commented on #28
[Earths Secrets](https://anicetngrt.itch.io/earths-secrets)

[Swarm of the Plague Babies](https://stairfallinstitute.itch.io/swarm-of-the-plague-babies)

[Sabatoge in Stormy Skies](https://ghostpattern.itch.io/sabotage-in-stormy-skies
)

[ESC](https://radicaldreamland.itch.io/esc?download
)

[2020-12-07 20:21] ebeshero opened #29 "Remediation, Remixing, and Copyright Discussion"
First, read the following:
<ul>
                        <li><q><a href="https://www.wipo.int/wipo_magazine/en/2015/03/article_0006.html">Remix Culture and Amateur Creativity: A Copyright Dilemma</a></q></li>
                        <li><q><a href="https://fairuse.stanford.edu/overview/fair-use/four-factors/">Measuring Fair Use: The Four Factors</a></q></li>
                        <li><a href="htt

[2020-12-07 20:24] arrowarchive commented on #29
I feel as if references are a frequent cause of fair use issues. Pose references are essential for me, and there was a time where I used _Pinterest_ as my pose reference source. When I found a pose I wanted to draw, I would check the source and a surprising number of images I had saved explicitly mentioned that the artists didn't want others using the image (since the poses were from "your charact

[2020-12-09 00:33] nxh5137 commented on #29
A grey area I noticed that made it unclear to me was what and how much you could use. For example, the less you take, the more likely you'll be excused. However, if you a small amount of what might be considered the heart of it, that won't be considered fair use. I might get this if you claim you wrote _Dune_, but if you are using a scene as a homage, would that be under fair use?

[2020-12-09 19:07] kzp308 commented on #29
A grey area I noticed when I read is how Canada is one of the only countries who has moved this new exception into place. When people remix things, often their intent is to express themselves creatively. They are not trying to rip off the song or take away from it. If I were one of the artists and just heard my music in a remix of songs, I would likely be flattered. Not only would I feel this way,

[2020-12-09 19:13] AlexanderRAnderson commented on #29
I know there has been a lot of issues with copyright claims in the online entertainment industry. Every online video/streaming platform such as YouTube and Twitch have had issues with copyright claims. YouTube has an algorithm which detects copyrighted music and has a manual claim system that allows people to claim other people's videos. The issue arises when there is a clear case of the video bei

[2020-12-09 19:34] dxh405 commented on #29
Creative commons is all about how you would like your work to be received and used. If you are all about putting your work out there you want to have some sort of licensing to attach to it to give some structure to how it can be used. I really cannot see a downside to using creative commons for your work. If you want your work to be used and looked at and changed for the betterment of a community,

[2020-12-09 19:44] bpm5520 commented on #29
With myself always finding someone on YouTube or Twitch to watch, I am unable to escape the tightrope that creators walk for using fair use and keeping in mind copyrights. There is always some drama going on with Youtubers about copyrights, and they have to be very careful when using music or playing games. Nintendo has been fairly strict on their use of copyright, striking down parody videos and

[2020-12-09 19:53] xsierraallen commented on #29
Copyright infringement occurs when an artists work is copied and reproduced in some way and that artist did not give their consent. This work can be performed, reproduced or remixed, and displayed in some way. What makes this a grey area is that not everyone has the same opinions or intentions on copy right. Not everyone who copies a piece of work is doing it with bad intentions, many times artist

[2020-12-09 20:01] tomsheehy commented on #29
A grey area I noticed that could be cleared up would be using songs in videos for social media platforms. It is very common to see influencers removing their media or content because of copyrights. Not to mention the strictness from platforms on cursing in content or videos. It seems odd as to why because of the free publicity that is offered when using music that others have created. When songs a

[2020-12-09 20:02] natalyamyers commented on #29
I think for me I get confused on the grey areas of copyright when it comes to infringement on something that somebody claims to be their idea or something that they created. Especially in the world of creative arts, I find it hard to believe that it's not possible for two people to have the same, or similar, idea. How far can you go with claiming "ownership" over something, and how similar is too

[2020-12-09 20:14] amw6765 commented on #29
The biggest example of remediation and Creative Commons is its use in YouTube. The guidelines and the control that YouTube has is quite significant. They have algorithms that are able to detect and flag just about any type of work that happens to licensed. This is something you hear YouTubers talking about quite often. A lot of videos of theirs are either taken down or become demonetized from issu

[2020-12-09 20:55] JesseBeckwith1998 commented on #29
an example of a copyright issue I have seen is that from Twitch. Recently they have added a new system to detect copyrighted property used in streams. Many of the large streamers had to delete their video logs from past streams because they did not want to receive a ban for violating the rules.
A grey area I can see in the copyright infringement is that of "Fair Use". If I put a disclaimer on a vi

[2020-12-09 20:58] NickyV1234 commented on #29
One of the main problems with copyright infringement that I have seen is that there are some youtubers who are getting copyright striked for extremely miniscule details that technically constitute as grounds for copy right infringement. One time a youtuber that I enjoyed watching was at risk of getting his video taken down because a car passed by playing copyrighted music and that sound was captur

[2020-12-09 21:13] am0eba-byte commented on #29
**What issues have you personally seen with remediation and fair use?**
- I've never been busted on remediating others' work in my own work, but I've read tons of stories about popular artists getting slammed by lawsuits (e.g. Led Zeppelin) in areas where the "copyright infringement" issue is focused simply on similar chord structure usage in a song. Using my Led Zeppelin example, they got slammed

[2020-12-10 02:59] hjl5363 commented on #29
There are numerous things that come up with copyright infringement and "gray" areas. A big area that I believe is an issue that constantly comes up due to the lack of education is using/ taking photos off of websites without proper citations or credits. Bottom line, people need to learn the boundaries of the digital world when they are in grade school. Plagiarism and copying someone's English pape

[2020-12-11 01:34] arrowarchive commented on #5
@ebeshero I know this is an old issue, but it's likely that I may post a video on my repository soon. I know someone shared the code for how to embed a video into a *GitHub* page, but I don't know where it was posted. Would you happen to know what the code for it is?

[2020-12-11 14:53] jzm6677 commented on #29
It's weird because a lot of it grey especial when it comes to fair use because even if it is only used to certain degree you can still get copyrighted. Even if unintentionally or unrealed for instance in stories a lot for creators have similar ideas and just something that happens but often people with still be copyrighted for and idea that somewhat similar to someone else. That is one of the many

[2020-12-12 00:25] arrowarchive commented on #9
@am0eba-byte I'm going to be adding a video to my repository soon. Do you know if there's a way for me to embed the video file directly, or is it only through Youtube?

[2020-12-12 00:48] am0eba-byte commented on #9
@arrowarchive I've never done it with videos before, but it should probably work just like any other image, i think? make sure you put the video file inside of your docs folder which holds your github website, and then when you create the link when writing the code in your HTML document just make sure that you link to the correct file name and relative file location. if it doesn't work, then i'm n

[2020-12-14 21:09] pxl5083 commented on #29
- I definetly think that remidiation and fair use is a slippery slope because you can never really tell if the person using the content is doing it for malicious purposes or doing it for the sake of a fandom or the sake of enjoying the originally published content. A good example of this can actually be seen recently in a Nintendo game called, "Super Smash Bros' Melee". It is a game that has been

[2020-12-18 07:10] gabbiedoster commented on #29
There are plenty of ways the "grey areas" in copyright infringement are unclear because there are so many small details you need to be aware of. With copyright, you need to understand doing the "little" things can go as far as getting you into deep water. I've worked on multiple projects where finding music for my videos was tricky. Posting to via YouTube can be difficult but, when knowing your ri

[2021-01-02 15:10] AnicetNgrt commented on #28
Thanks for featuring my game !

[2021-01-26 15:31] #5 closed, assigned to nobody

[2021-01-26 15:31] #6 closed, assigned to nobody

[2021-01-26 15:31] #7 closed, assigned to nobody

[2021-01-26 15:31] #8 closed, assigned to nobody

[2021-01-26 15:31] #10 closed, assigned to nobody

[2021-01-26 15:31] #11 closed, assigned to nobody

[2021-01-26 15:31] #12 closed, assigned to nobody

[2021-01-26 15:31] #13 closed, assigned to nobody

[2021-01-26 15:31] #14 closed, assigned to nobody

[2021-01-26 15:31] #15 closed, assigned to nobody

[2021-01-26 15:31] #17 closed, assigned to nobody

[2021-01-26 15:31] #18 closed, assigned to nobody

[2021-01-26 15:31] #19 closed, assigned to nobody

[2021-01-26 15:31] #20 closed, assigned to nobody

[2021-01-26 15:31] #21 closed, assigned to nobody

[2021-01-26 15:31] #22 closed, assigned to nobody

[2021-01-26 15:31] #23 closed, assigned to nobody

[2021-01-26 15:31] #24 closed, assigned to nobody

[2021-01-26 15:31] #25 closed, assigned to nobody

[2021-01-26 15:31] #26 closed, assigned to nobody

[2021-01-26 15:31] #27 closed, assigned to nobody

[2021-01-26 15:31] #28 closed, assigned to nobody

[2021-01-26 15:31] #29 closed, assigned to nobody

[2021-01-26 15:32] #1 closed, assigned to nobody

[2021-01-26 15:33] ebeshero opened #30 "Join the introDH-Hub as a collaborator"
Please respond here with your new GitHub account to ask to be added as a collaborator on this repo! (Also, please identify yourself by name, together with your new GitHub handle.)

[2021-01-26 16:51] amayadwillis commented on #30
Please add me to this repo @amayadwillis :)

[2021-01-26 17:00] ebeshero commented on #30
Hi! I'm Dr. B (Elisa Beshero-Bondar), and my GitHub is @ebeshero

[2021-01-26 17:13] nmiano commented on #30
@ebeshero, This is my account > @nmiano

[2021-01-26 17:13] kjc6167 commented on #30
Please add me as a collaborator: @kjc6167 (My name is Kyle Cronin by the way)

[2021-01-26 19:08] Awebster7 commented on #30
Hello! This is Aliya Webster, please add me to this repo @Awebster7

[2021-01-26 19:41] chrisklein10 commented on #30
Hello, i'm Chris Klein, please add me as a collaborator on this repo, my handle is @chrisklein10

[2021-01-27 03:03] jbg5721 commented on #30
Hi, I am Joey Gardiner please add me to this repo! @jbg5721

[2021-01-27 19:36] ras6164 commented on #30
My username is @ras6164 (Ryan Scott), @ebeshero please add me as a collaborator to this repo.

[2021-01-27 22:31] ebeshero commented on #30
If you've posted a request to join the introDH-Hub, I've now responded to each of you with an invitation. If I responded with a little emoji, that means you'll definitely have an invitation from me, and you'll find it in the email you used to set up your GitHub account. Go and accept my invitation and you'll be ready to post to this repo!

[2021-01-27 22:43] ebeshero commented on #30
If I've sent you an invitation to the newtFire organization, you can also accept it just by visiting https://github.com/newtfire

[2021-01-28 00:49] Jakeruff29 commented on #30
Please add me as a collaborator @jakeruff29 (Jake Ruffalo)

[2021-01-28 01:43] erinmooney commented on #30
Please add me as a collaborator @erinmooney

[2021-01-28 14:09] SoulEpicness commented on #30
Please add me as a collaborator @SoulEpicness (David Allen II)

[2021-01-28 15:03] aidanvray commented on #30
My username is @aidanvray, could you please add me as a collaborator?

[2021-01-28 15:32] debbie-evans commented on #30
My user name is @debbie-evans can you please add me as a collaborator? thanks!

[2021-01-28 16:13] thammer12499 commented on #30
My username is @thammer12499 this is Thomas Hammer, could you please add me as a collaborator? Thank you!

[2021-01-28 16:13] WillStill commented on #30
Please add me as a collaborator @WillStill

[2021-01-28 16:17] Tonya-Velcko commented on #30
Please add me as a collaborator @Tonya-Velcko

[2021-01-28 16:21] luh429 commented on #30
Please add me as a collaborator @luh429 I am Logan Hering

[2021-01-28 17:36] Tonya-Velcko commented on #2
# Is this how you header?
## This is me trying my best
1. *Realizing I have no experience with actually typing code*
2. **Panic**
3. ~~Literally my only experience with coding is via elementary programs like Scratch~~

[2021-01-28 22:46] TOMZS1 commented on #30
Can you add me as a collaborator please @TOMZS1. Thank you @ebeshero

[2021-01-29 03:08] gvt5036 commented on #30
Please add me as a collaborator! My username is @A-Little-Coconut , this is Graesyn Tefft

[2021-02-10 00:13] adam-vanscoyoc commented on #30
Please add me @adam-vanscoyoc

[2021-03-02 15:25] ebeshero opened #31 "Voyant Tools Intro Exercise"
Experiment with [Voyant Tools](https://voyant-tools.org/) on any text you wish, perhaps readings from our class, or from sites of interest to you.
* Tell us about the text you surveyed in Voyant Tools (and/or provide a link)
* Post an image taken of Voyant's rendering of your text here in this thread, and see if you can include some website embed code with your post.
* Comment to reflect a little

[2021-03-02 17:02] nmiano commented on #31
The Text I surveyed was the illustration "Percy Jackson and The Lightning Thief" by Rick Riordan

https://voyant-tools.org/?corpus=543c5ea4822a178b51c174426d9ae70c

Comment: What's interesting about the text is that it didn't reveal as much words regarding the Greek gods than I expected. What also surprised me was that "Grover" was mentioned more than "Annabeth."  I really expected to see "said" t

[2021-03-02 17:03] nmiano commented on #31
@ebeshero Here' the book link itself: https://getfreestories.weebly.com/uploads/7/9/0/2/79020522/lightning_thief_the__percy_jac_-_rick_riordan.pdf

[2021-03-02 20:31] ebeshero commented on #31
@nmiano See if you can take a screen capture and save locally and then see if you can insert the image in your comment! I think that's what we did last fall.

[2021-03-03 03:51] jbg5721 commented on #31
Link to my surveyed website: https://climate.nasa.gov/effects/
I chose this site just because it is a topic I am interested in.

Comment: What I find interesting is about this graph is that there are not many "common words." I expected to see at least a few common words, such as: 'the.' I am not surprised to see climate, change, heat, sea, ice, heat, all over the place

<img width="421" alt="Voyan

[2021-03-03 19:03] amayadwillis commented on #31
I used the text from The Scarlet Letter, I found it on The Project Gutenberg website here:
https://www.gutenberg.org/files/25344/25344-h/25344-h.htm
![Capture1](https://user-images.githubusercontent.com/70728138/109857141-5ade8280-7c28-11eb-8d57-4dc9bbbecf39.PNG)
![Capture](https://user-images.githubusercontent.com/70728138/109857145-5b771900-7c28-11eb-93f0-eb0ac3dae660.PNG)

The main thing I was

[2021-03-03 19:26] ras6164 commented on #31
I analyzed a research article on Facebook advertising which can be read here: http://designdamage.com/wp-content/uploads/2009/04/Understanding-the-Value-of-a-Social-Media-Impression.pdf.

![download (2)](https://user-images.githubusercontent.com/78106949/109861083-ebb75d00-7c2c-11eb-85f8-a8749d06b096.png)

For most of the words, I expected to see them as some of the top words used in the text (imp

[2021-03-03 20:40] erinmooney commented on #31
I used Plant Lore, Legends, and Lyrics by Richard Folkard from Project Gutenberg. (https://www.gutenberg.org/ebooks/44638)
 The outcome was :
<img width="311" alt="PlantLoreWordBubble" src="https://user-images.githubusercontent.com/78123905/109868428-96337e00-7c35-11eb-9986-13992f0f827c.PNG">

For text about Plant Lore, the Word Bubble words are about what I expected! "Called" was a bit of a surpr

[2021-03-03 21:25] kjc6167 commented on #31
I chose an article on NASA's Perseverance Mars rover. (https://mars.nasa.gov/news/8875/testing-proves-its-worth-with-successful-mars-parachute-deployment/)

![image](https://user-images.githubusercontent.com/78039750/109872674-bca7e800-7c3a-11eb-8e0c-c39fc42544d5.png)
![image](https://user-images.githubusercontent.com/78039750/109872747-d812f300-7c3a-11eb-9513-4c5c03b330bd.png)

I thought it was i

[2021-03-03 21:53] chrisklein10 commented on #31
Link to surveyed website: https://liveforlivemusic.com/news/john-lennon-gimme-some-truth-deluxe-box-set/

Something interesting to me is the words of social media on here because to think he died a way long time before social media is a thing and that he is still so relevant that there is an account under his name is amazing.
Patterns of the words don't really surprise me except there is one word,

[2021-03-03 22:15] Jakeruff29 commented on #31
I read a biography on Dale Earnhardt, one of NASCARs best drivers.
![download](https://user-images.githubusercontent.com/78121863/109879107-275d2180-7c43-11eb-901d-48ba7c4b8d4d.png)
Something interesting I found is that even if you had no idea who Dale Earnhardt was, you would be able to gather much information just from the words shown; such that "championship" or "championships" were displayed 1

[2021-03-04 01:39] luh429 commented on #31
I used the Lorax as my text. Here is the link to the pdf I used: [http://dep.wv.gov/WWE/Programs/nonptsource/Documents/TheLorax.pdf](http://dep.wv.gov/WWE/Programs/nonptsource/Documents/TheLorax.pdf)
I wasn't very surprised that words like Lorax, trees, and truffula were some of the most common words. However I found it odd that the word "ler" as in "Once-ler" was used quite frequently but the wor

[2021-03-04 04:11] ebeshero commented on #31
@luh429 That's an interesting discovery you've made! I think Once- and -ler got cut in half by the - (hyphen) in between them. I wonder if Voyant is keeping only the second half of a hyphenated word?

[2021-03-04 04:51] Awebster7 commented on #31
- The article I picked was titled "For Travel, a Sustainable Comeback?" from The New York Times! I simply just picked this article because it looked interesting. Link: [https://www.nytimes.com/2021/02/25/travel/sustainable-travel-environment-pandemic.html](url)

<img width="400" alt="Screen Shot 2021-03-03 at 10 54 16 PM" src="https://user-images.githubusercontent.com/78045055/109909081-7a4ecd00-7

[2021-03-04 15:04] debbie-evans commented on #31
After trying to think of something serious to look at over the past day or so, I decided to put the Bee Movie script into Voyant (https://web.njit.edu/~cm395/theBeeMovieScript/)

![Bee Movie](https://user-images.githubusercontent.com/78060074/109981030-81ef8f80-7cce-11eb-8039-6842b77f5055.png)

I can't say that anything in the word frequency really surprised me, the top words that aren't ones that

[2021-03-04 15:30] aidanvray commented on #31
I decided to analyze Donald Trump's most recent speech from this year's CPAC convention. I got the transcript from [https://www.rev.com/blog/transcripts/donald-trump-cpac-2021-speech-transcript](url).

![trump](https://user-images.githubusercontent.com/78158447/109985912-3be8fa80-7cd3-11eb-83d8-fd8bc25d144c.JPG)

Due to the way the transcript was formatted, it stated Trump's name along with timest

[2021-03-04 16:01] WillStill commented on #31
I used the text  from a short story called _Safari_ by Jennifer Egan. https://www.newyorker.com/magazine/2010/01/11/safari-3
![TheSafariVoyantTools](https://user-images.githubusercontent.com/78114286/109989368-6f795400-7cd6-11eb-9395-c59b506c6895.PNG)
I noticed that the names of characters were the most prevalent, which should be expected. The next most prevalent words were names of relationships

[2021-03-04 16:07] thammer12499 commented on #31
![index](https://user-images.githubusercontent.com/78119613/109992576-65a52000-7cd9-11eb-878b-68f2470b51d9.png)
The subject of the doc was a research paper into the effects of blue light on the human eye and its potential effects on the brain. I'm not surprised by some of the words to come up so frequently but rather I'm surprised by the number of filler words used frequently within the document.

[2021-03-04 16:16] SoulEpicness commented on #31
I Decided to look at speed runs and wanted to look at a guide for Dark Souls.
Link: [Dark Souls speedrunning](https://wiki.speedsouls.com/darksouls:Getting_Started)
![Dark Souls words](https://user-images.githubusercontent.com/78154419/109992640-748bd280-7cd9-11eb-8495-0fb7341aadf7.png)

I thought that in the text I would see more terms that were based on movement tactics and shortcuts. I instead

[2021-03-04 16:29] TOMZS1 commented on #31
The text that I used is from "Alice in Wonderland", by Lewis Carrol. This is one of my favorite books and I thought it would be interesting to see the most frequent words in this book.

[Alice in Wonderland](http://www.gutenberg.org/files/11/11-h/11-h.htm)

![Alice in Wonderland](https://user-images.githubusercontent.com/78178588/109995793-9aff3d00-7cdc-11eb-97ab-f6ae2cac5333.png)

I like how you

[2021-03-15 00:53] Tonya-Velcko commented on #31
The text I used was Shakespeare's Macbeth from this link: http://shakespeare.mit.edu/macbeth/full.html
![voyant image](https://user-images.githubusercontent.com/78163832/111090670-ea2c4580-8506-11eb-9522-3742d1616f35.png)
I expected the characters' names to be common, but there were some words that were a surprise, like witch, sleep, and exeunt.

[2021-04-15 15:31] ebeshero opened #32 "Notes for Game Analysis Assignment"
### Game Analysis Notes

Characterization:
* Game avatars appear as small pink **smiling** blobs
* Hostile characters look green

Game world:
* seems to have 4 main areas...these are:
    *

[2021-04-27 14:14] ebeshero opened #33 "Remediation, Remixing, and Copyright Readings / Discussion"
Read the two following short articles:
<ul>
                        <li><q><a href="https://www.wipo.int/wipo_magazine/en/2015/03/article_0006.html">Remix Culture and Amateur Creativity: A Copyright Dilemma</a></q></li>
                        <li><q><a href="https://fairuse.stanford.edu/overview/fair-use/four-factors/">Measuring Fair Use: The Four Factors</a></q></li>
                     </ul>

[2021-04-27 14:45] erinmooney commented on #33
" A violation of copyright?
Many within the cultural industries believe that any unauthorized extract taken from a pre-existing work constitutes copyright infringement. Strictly speaking, they are right. Remixes do violate the copyright in a pre-existing work, insofar as the act of creating a second work that contains elements of an original work violates both the right of reproduction (Article 9

[2021-04-27 14:52] Tonya-Velcko commented on #33
"Remixes do violate the copyright in a pre-existing work, insofar as the act of creating a second work that contains elements of an original work violates both the right of reproduction (Article 9 of the Berne Convention) and the right of communication to the public (Article 8 of the WIPO Copyright Treaty) of the original author."

I found this surprising because there are so many remixes out ther

[2021-04-27 14:54] thammer12499 commented on #33
"The moral rights of the original author also come into play. Under Article 6bis of the Berne Convention, “the author shall have the right to claim authorship of the work and to object to any distortion, mutilation or other modification […] which would be prejudicial to his honor or reputation”. When a given song is remixed in a way that strongly decontextualizes its meaning, the author of the ori

[2021-04-27 14:54] nmiano commented on #33
"The moral rights of the original author also come into play. Under Article 6bis of the Berne Convention, “the author shall have the right to claim authorship of the work and to object to any distortion, mutilation or other modification […] which would be prejudicial to his honor or reputation”. When a given song is remixed in a way that strongly decontextualizes its meaning, the author of the ori

[2021-04-27 14:55] nmiano commented on #33
hah @thammer12499 we did the same section

[2021-04-27 14:56] ras6164 commented on #33
"Existing copyright laws do not adequately address the challenges arising from the wealth of amateur creativity facilitated by the tools available within the digital environment."

Why would legislative changes not be made when the environment in which copyright applies has completely changed over the past several years? Nations that fail to protect IP/copyright infringement from occurring can oft

[2021-04-27 14:56] ebeshero commented on #33
@Tonya-Velcko @erinmooney More like *potentially* illegal (or infringement) if a court decides it that way...

[2021-04-27 14:56] jbg5721 commented on #33
"One might also argue that remix works are akin to quotations protected under Article 10 of the Berne Convention. Under this Article, it “shall be permissible to make quotations from a work which has already been lawfully made available to the public, provided that their making is compatible with fair practice, and their extent does not exceed that justified by the purpose”. While quotations are o

[2021-04-27 14:57] thammer12499 commented on #33
Oh I hadn't even noticed, lol.

[2021-04-27 14:58] nmiano commented on #33
Grey Area 1:
"The situation, however, remains less than clear elsewhere. In the United States, the courts are still grappling with the issue, as indicated in Stephanie Lenz v. Universal Music Corporation which has been ongoing since 2007. The claimant, Stephanie Lenz, posted a video to YouTube of her children dancing and running around in her kitchen with Prince’s Let’s Go Crazy playing in the bac

[2021-04-27 15:00] kjc6167 commented on #33
_Remix Culture and Amateur Creativity: A Copyright Dilemma_
"The moral rights of the original author also come into play. Under Article 6bis of the Berne Convention, “the author shall have the right to claim authorship of the work and to object to any distortion, mutilation or other modification […] which would be prejudicial to his honor or reputation”. When a given song is remixed in a way that

[2021-04-27 15:00] ebeshero commented on #33
Example of a case resolved amicably (in a friendly deal-making way): https://www.pon.harvard.edu/daily/dealmaking-daily/in-dealmaking-with-tom-petty-sam-smith-backs-down/

[2021-04-27 15:02] debbie-evans commented on #33
"For example, in one case an artist used a copyrighted photograph without permission as the basis for wood sculptures, copying all elements of the photo. The artist earned several hundred thousand dollars selling the sculptures. When the photographer sued, the artist claimed his sculptures were a fair use because the photographer would never have considered making sculptures. The court disagreed,

[2021-04-27 15:03] amayadwillis commented on #33
"A disclaimer is a statement that “disassociates” your work from the work that you have borrowed. For example, if you write an unauthorized biography of Mickey Mouse, you may include a disclaimer such as, “This book is not associated with or endorsed by the Walt Disney Company.” Will it help your position if you use a disclaimer? In close cases where the court is having a difficult time making a f

[2021-04-27 15:03] Jakeruff29 commented on #33
"The moral rights of the original author also come into play. Under Article 6bis of the Berne Convention, “the author shall have the right to claim authorship of the work and to object to any distortion, mutilation or other modification […] which would be prejudicial to his honor or reputation”. When a given song is remixed in a way that strongly decontextualizes its meaning, the author of the ori

[2021-04-27 15:04] WillStill commented on #33
"When a given song is remixed in a way that strongly decontextualizes its meaning, the author of the original work can claim a violation of moral rights."

I found this interesting. In the past few years, I have seen a larger influx of remixes posted to YouTube intended to be crude jokes. They haven't been taken down on the site, but under legal grounds they could be.
Though, this becomes a grey a

[2021-04-27 15:05] ebeshero commented on #33
Collecting some excellent questions being raised here:
* How did the photographer get a copyright on the photo?  (thanks @debbie-evans )
* '"One thing that I personally get confused with is, "as long as it had been made lawfully available to the public." What would be lawfully available? or not available."' (thanks @jbg5721 )
* How small is small enough to count as "fair use" in the US law?
* (my

[2021-04-27 15:09] Tonya-Velcko commented on #33
"Determining what is transformative—and the degree of transformation—is often challenging. For example, the creation of a Harry Potter encyclopedia was determined to be “slightly transformative” (because it made the Harry Potter terms and lexicons available in one volume), but this transformative quality was not enough to justify a fair use defense in light of the extensive verbatim use of text fr

[2021-04-27 15:10] TOMZS1 commented on #33
"YouTube’s Content ID software analyzes samples of musical works provided by the recording industry and collective management organizations and compares them with the videos uploaded to the website. The software establishes a link between an existing work and an uploaded work such as a remix. If the content matches, the video may be automatically blocked or the sound muted and the user is automati

[2021-04-27 15:11] nmiano commented on #33
Gray Area 2 ("Measuring Fair Use: The Four Factors"): "Some people mistakenly believe it’s permissible to use a work (or portion of it) if an acknowledgment is provided."

This short passage is a grey area because, again like the last one, there is a line that has to be drawn somewhere but there is always a case where we don't know if the line was passed or not. It is very hard to determine where

[2021-04-29 03:38] Awebster7 commented on #33
**Highlight a passage from either article that surprised you about copyright infringement and "fair use": What surprised you?**
"Stephanie Lenz, posted a video to YouTube of her children dancing and running around in her kitchen with Prince’s Let’s Go Crazy playing in the background. A few months later, Universal Music Corporation had the video removed from YouTube claiming copyright infringement;

[2021-04-30 02:49] luh429 commented on #33
"YouTube’s Content ID software analyzes samples of musical works provided by the recording industry and collective management organizations and compares them with the videos uploaded to the website. The software establishes a link between an existing work and an uploaded work such as a remix. If the content matches, the video may be automatically blocked or the sound muted..."
This is interesting

[2021-08-20 00:38] #33 closed, assigned to nobody

[2021-08-20 03:52] #31 closed, assigned to nobody

[2021-08-20 03:53] #2 closed, assigned to nobody

[2021-08-20 03:53] #4 closed, assigned to nobody

[2021-08-20 03:53] #9 closed, assigned to nobody

[2021-08-20 03:53] #16 closed, assigned to nobody

[2021-08-20 03:53] #30 closed, assigned to nobody

[2021-08-20 03:53] #32 closed, assigned to nobody

[2021-09-01 02:18] bmg5877 opened #34 "Adding Club Collaborators"
My username is @bmg5877. @ebeshero, please add me as a collaborator to this introDH-Hub.

[2021-09-01 15:27] Yuying-Jin opened #35 "Adding Hub Collaborators"

[2021-09-01 15:40] austinmurry commented on #35
My username is @austinmurry. Please @ebeshero add me as a collaborator to this Hub

[2021-09-01 18:14] ebeshero opened #36 "Requests to be added as a Collaborator on This Repo"
Please post here to introduce your GitHub self to our Fall 2021 DIGIT 100 class, and request to be added as a collaborator on this repo!

(If you've already posted in another issue, that's okay, too. I'll see it, and you don't need to do anything more. This new issue should collect most of the class's requests.)

[2021-09-01 22:46] IsabelCriswell commented on #36
Hi  @ebeshero ! My username is @IsabelCriswell please add me as a collaborator!

[2021-09-01 22:48] Yuying-Jin commented on #36
Hi, @ebeshero. Please add me as a collaborator to this Hub. My username is @Yuying-Jin.

[2021-09-02 00:57] AlexanderVaughan commented on #36
Hi, @ebeshero Please add me as a collaborator to this Hub. My username is @AlexanderVaughan

[2021-09-02 03:19] AloraBenitez commented on #36
Hi, @ebeshero Please add me as a collaborator to this hub. My username is @AloraBenitez

[2021-09-02 04:35] ztd5049 commented on #34
I am @ztd5049, Digit 100 student. @ebeshero, please add me as a collaborator to the introDH-Hub repo.

[2021-09-02 04:46] julianjmg commented on #36
hi @ebeshero Please add me as a collaborator to this hub. My username is @julianjmg

[2021-09-02 14:11] cjp6019 commented on #36
hi @ebeshero. I'm Chris Pedersen, username is @cjp6019, and pretty please add me as a collaborator.

[2021-09-02 15:14] jks6769 commented on #36
Hi @ebeshero. Please add me as a collaborator to this hub. My username is @jks6769

[2021-09-02 16:29] als7294 commented on #36
Hey @ebeshero . Please add me as a collaborator. My username is @als7294

[2021-09-02 16:37] gak5275 commented on #36
Hi @ebeshero . Please add me as a collaborator. My username is @gak5275 .

[2021-09-02 17:06] ebeshero commented on #35
@Yuying-Jin @austinmurry You have been sent two invitations:
1) to the newtfire GitHub organization
2) to the introDH-Hub.

You will need to accept the invitations to join!

[2021-09-02 17:09] ebeshero commented on #34
@bmg5877 You appear already to have access to the introDH-Hub. I have also sent you an invitation to the newtfire GitHub organization (should be in your email).

@ztd5049 I have just invited you to the introDH-Hub. You'll need to accept my invitation (in your email) to join the repo.

[2021-09-02 17:16] ebeshero commented on #36
If you have requested to be added as a collaborator before this point (1:15pm on Thurs. 9/2/'21), you have been **invited** to join. Please check the email you used to create your GitHub account for an invitation to join the introDH-Hub, and accept the invitation--and you'll be in!

[2021-09-02 17:41] tph5501 commented on #36
Hi **@ebeshero**. Please add me as a collaborator. My username is **@tph5501**.

[2021-09-02 17:50] ZakMurphy191 opened #37 "Adding Collaborators"
Hi, @ebeshero. Please add me as a collaborator to this Hub. My username is @ZakMurphy191

[2021-09-02 17:54] #37 closed, assigned to nobody

[2021-09-02 17:57] ZakMurphy191 commented on #36
Hi, @ebeshero. Please add me as a collaborator to this Hub. My username is @ZakMurphy191.

[2021-09-02 18:02] ZakMurphy191 commented on #34
My username is @ZakMurphy191. @ebeshero, please add me as a collaborator to this introDH-Hub.

[2021-09-02 18:54] Lec5584 commented on #36
Hi @ebeshero , my name is @lec5584. please add me as a collaborator.

[2021-09-02 19:16] Msd5534 commented on #36
Hi, @ebeshero Please add me as a collaborator. My username is @msd5534

[2021-09-02 19:48] ebeshero opened #38 "Messing with Markdown"
# Experiment with markdown!
## Experiment with markdown!
### Experiment with markdown!

Explore GitHub's [Mastering Markdown tutorial](https://guides.github.com/features/mastering-markdown/) and try out some of the code in this issue by replying here.

[2021-09-02 19:49] tec5271 commented on #36
Hi, @ebeshero Please add me as a collaborator. My username is @tec5271

[2021-09-02 19:51] fkb5105 commented on #36
Hi, @ebeshero. Please add me as a collaborator to this hub. My username is @fkb5105

[2021-09-02 19:51] als7294 commented on #38
***WHAT'S UP YA'LL***

Is everyone ready to ~~copy their code from stack overflow~~ learn how to code? I'm _super_ excited.

[2021-09-02 19:51] SCD5363 commented on #36
Hi, @ebeshero. Please add me as a collaborator to this hub. My username is @SCD5363

[2021-09-02 19:52] cjp6019 commented on #38
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">No outdated jokes here</a>

[2021-09-02 19:52] IsabelCriswell commented on #38
✨This is ~~pretty~~ really **cool**!✨

[2021-09-02 19:52] AlexanderVaughan commented on #38
## *__This is my attempt to mess with markdown__*

![Image of tree](https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg)

[2021-09-02 19:52] gak5275 commented on #38
# Click this link!
[This one!](https://guides.github.com/features/mastering-markdown/)

[2021-09-02 19:53] ztd5049 commented on #38
##### Cool Lizard!
![Picture of a lizard](http://outdoornebraska.gov/wp-content/uploads/2020/09/Lizard_RGB.jpg)

[2021-09-02 19:53] tph5501 commented on #38
**How is every one doing?**

[2021-09-02 19:54] austinmurry commented on #38
# **Howdy Y'all**

My name is @austinmurry. I am a *Senior* this year! Check out this cool [picture](https://www.thesprucepets.com/thmb/5li4T44Vuc2MdCfaI2tPbgvOSdo=/960x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-523757096-580f91435f9b58564c063908.jpg)

[2021-09-02 19:54] bmg5877 commented on #38
### I AM MARKING DOWN RIGHT NOW ##

I am testing **markdown** __right now_

here's a turtle:
![facts-turtles](https://user-images.githubusercontent.com/89885138/131907658-8375f45d-f312-4f39-b0e0-db93eeb2e240.jpg)

[2021-09-02 19:54] bkb5699 commented on #36
Hi, @ebeshero. Please add me as a collaborator to this hub. My username is @bkb5699

[2021-09-02 19:54] tec5271 commented on #38
*Emphasis?* __Bold?__

[2021-09-02 19:55] julianjmg commented on #38
Testing | Testing | Dr. B is messing with this |
--------|---------|---------------
T | E | I |
S | T | M |

[2021-09-02 19:56] jeromenacey opened #39 "Hi @ebeshero, please add me as a collaborator, my username is @jeromenacey"

[2021-09-02 19:56] IsabelCriswell commented on #38
# Puppies?
![Image of Shiba Inu](https://www.pngitem.com/pimgs/m/414-4143258_shiba-inu-squish-image-art-transparent-shiba-inu.png)

[2021-09-02 19:56] bmg5877 commented on #38
LIST

- [ ] what
- [ ] do
- [ ] I
- [ ] put
- [ ] here?

[2021-09-02 19:57] bmg5877 commented on #38
LIST

- [x] hello
- [x] everyone

[2021-09-02 19:57] #39 closed, assigned to nobody

[2021-09-02 19:57] Lec5584 commented on #38
[Definitely don't click this lol](http://www.script-o-rama.com/movie_scripts/a1/bee-movie-script-transcript-seinfeld.html)

[2021-09-02 19:57] tec5271 commented on #38
- [x] no
- [x] yes

[2021-09-02 19:57] ZakMurphy191 commented on #38
# Hello<h1> @ebeshero
## Its Zak <h2> @bmg5877
###### Coding sounds fun <h6> @austinmurry

[2021-09-02 19:58] tph5501 commented on #38
![image](https://user-images.githubusercontent.com/89998644/131908109-daa7015c-2ddc-4d18-82d6-0b564faaa3a9.png)

[2021-09-02 19:58] IsabelCriswell commented on #38
<iframe width="560" height="315" src="https://www.youtube.com/embed/iik25wqIuFo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

[2021-09-02 19:58] bmg5877 commented on #38
hello!

[2021-09-02 19:58] jeromenacey commented on #36
Hi, @ebeshero. Please add me as a collaborator to this hub. My username is @jeromenacey

[2021-09-02 19:58] AloraBenitez commented on #38
Im going to add**bold** to this header and make this one *italic*

[link to Google](http://google.com)

:EMOJICODE:
@ebeshero I hope I added this emoji right! :grin:

[2021-09-02 19:58] jmp7651 commented on #38
# TESTING! 👍
## TESTING!👍
### TESTING!👍

[2021-09-02 19:59] SCD5363 commented on #38
THIS <h1>
is<h2>
a<h3>
test<h4>

[2021-09-02 20:01] jeromenacey commented on #38
This is my attempt at markdown

1. https://www.google.com/imgres?imgurl=https%3A%2F%2Fichef.bbci.co.uk%2Fnews%2F976%2Fcpsprodpb%2F9397%2Fproduction%2F_113838773_donkey.jpg&imgrefurl=https%3A%2F%2Fwww.bbc.com%2Fnews%2Fuk-scotland-53615567&tbnid=yG1X-bKlGow2vM&vet=12ahUKEwiw7dqpiuHyAhVJqXIEHYR0AskQMygKegUIARDfAQ..i&docid=5uKGgNQ1HxyqSM&w=976&h=976&q=pictures&ved=2ahUKEwiw7dqpiuHyAhVJqXIEHYR0AskQMygK

[2021-09-02 20:01] jeromenacey commented on #38
my attempt did not work like it was supposed to

[2021-09-02 20:02] bmg5877 commented on #38
As Kanye West said:

[2021-09-02 20:02] SCD5363 commented on #38
First  | Second  Third
------------ | -------------| -------------
Test | Test| thing|
Test | Test| Thing|

[2021-09-02 20:02] fkb5105 commented on #38
Test 1 | Test 2
------------ | -------------
10 | 10
10 | 10

[2021-09-02 20:02] SCD5363 commented on #38
First | Second |Third
------------ | -------------| -------------
Test | Test| thing|
Test | Test| Thing|

[2021-09-02 20:02] Yuying-Jin commented on #38
- [x] ~~--------0.0------------~~
- [x] Oh***Yeah!***
- [x] ![image](https://www.cnet.com/a/img/YBNsjE8LtAQMf0_EhDUl5JeNyH8=/1092x0/2021/09/01/eaaa5d29-b925-4e55-bf05-280159f4929c/google-doodle-weigl-2021.jpg)

[2021-09-02 20:03] tph5501 commented on #38
**Wanted to see if gifs work.**
![image](https://user-images.githubusercontent.com/89998644/131908704-26861679-7cc7-4c37-abb0-898fb2f28af7.png)

[2021-09-02 20:04] ebeshero commented on #38
I am showing you a code block:
This is the basic structure of an HTML document written in HTML and *not* markdown:

[code]

[2021-09-02 20:05] AlexanderVaughan commented on #38
What is soup?

- [ ] A drink
- [x] A form of government
- [x] A friend
- [ ] No

[2021-09-02 20:06] bmg5877 commented on #38
~~TEST~~

[2021-09-02 20:06] SCD5363 commented on #38
Code

<css>
<style>
<font>Times New Romans</font>
</style>
</css>
<html>

<body>
<h1>Hello World</h1>
</body>

</html>

[2021-09-02 20:06] jeromenacey commented on #38
#########################hi

[2021-09-02 20:07] jeromenacey commented on #38
####HI

[2021-09-02 20:07] jeromenacey commented on #38
###HI

[2021-09-02 20:07] AlexanderVaughan commented on #38
:)  [Friendship](https://www.youtube.com/watch?v=sguEHRuDTK8)

[2021-09-02 20:07] tec5271 commented on #38
🤠

[2021-09-02 20:08] ebeshero commented on #38
Unordered list:

* list
* list

Ordered list:

1. entry 1
1. entry 2
1. entry 3

[2021-09-02 20:09] jeromenacey commented on #38
🥞🥞🍕🥓🍦🍝🥘🥩

[2021-09-02 20:09] IsabelCriswell commented on #38
@everyone

[2021-09-02 20:09] gak5275 commented on #38
# **Woah**

[2021-09-02 20:09] jeromenacey commented on #38
left side, strong side

[2021-09-02 20:10] bmg5877 commented on #38
- [x] Wix- the Leading Website Builder! Use Absolutely Free Tools & Look Professional Online! Start by Choosing a Template, Add Custom Features and Get Online Instantly! 100s of Apps. Traffic generation tools. SEO wizard. Easy-to-add blog. 24/7 support center.

[2021-09-02 20:13] AlexanderVaughan commented on #38
Which one| Are You?
--------------------------------------------------------- | -----------------------------------------------------
- [ ]  (https://cdn.mos.cms.futurecdn.net/YYH9o4wmSXJfvbzRTq5BTY-970-80.jpg.webp) | - [ ] (https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Mallard2.jpg/220px-Mallard2.jpg)
- [ ] (https://naturalsciences.org/calendar/wp-content/uploads/2020/08/Virginia-Opos

[2021-09-02 22:50] #34 closed, assigned to nobody

[2021-09-02 22:50] #35 closed, assigned to nobody

[2021-09-03 04:47] ebeshero opened #40 "OneDrive issues with GitHub"
As we get started with git and GitHub, be aware that if you use OneDrive to sync directories on your computer to the cloud, it may cause problems to store your GitHub directories in those cloud-synced OneDrive folders. For example, see [this thread](https://community.rstudio.com/t/placing-a-github-repo-into-a-cloud-synced-folder-gdrive-dropbox-icloud-onedrive-etc/21072). Here in the DIGIT program

[2021-09-05 22:08] ebeshero opened #41 "GitHub login issues? Set up a Personal Access Token"
If you're having trouble with getting authenticated with GitHub when you clone a repo, or add, commit, or push (as in, you're not allowed, and every time you login with your password, you still can't do anything with pulling or pushing files at your local computer), it is probably because you need to update your access configuration and set up a Personal Access Token to use for these functions.

H

[2021-10-05 18:47] ebeshero opened #42 "Class Discussion Exercise: Introducing Voyant Tools"
Choose of these webpages and copy the text from the page:

* [Kew Gardens](http://digital.library.upenn.edu/women/woolf/monday/monday-07.html)
* [Girl](https://www.newyorker.com/magazine/1978/06/26/girl)
* [Tell-Tale Heart](https://poemuseum.org/the-tell-tale-heart/)

Take a few minutes to read the story you chose.

Go to one of these sites to access Voyant Tools:
* main site: https://voyant-tools

[2021-10-05 19:08] Yuying-Jin commented on #42
On my own view from the story Kew Gardens, "the " and "women" seem to be the most important words.

This tool can get the most frequent words and list all phrases. It also can analyze the correlation between two different words and calculate vocabulary density and average words per sentence. It found in the story Kew Gardens,  "bed", "flower", "women" are the most important words, which appear at

[2021-10-08 02:50] ebeshero opened #43 "Mystery Text Discussion of fc.txt"
Post your ideas and findings and screen captures about fc.txt here!

[2021-10-08 02:51] ebeshero opened #44 "Mystery Text Discussion of wc.txt"
Post your ideas and findings and screen captures about wc.txt here!

[2021-10-08 02:51] ebeshero opened #45 "Mystery Text Discussion of lr.txt"
Post your ideas and findings and screen captures about lr.txt here!

[2021-10-08 02:53] ebeshero opened #46 "Mystery Text discussion of Radio Plays (any plays other than ac.txt)"
Post your ideas and findings and screen captures about any of the Radio Play texts here.

[2021-10-10 21:04] gak5275 commented on #46
![bellscreenshot_voyant](https://user-images.githubusercontent.com/89995510/136712591-dfdc5c37-f9c8-40ec-9517-b3d910644561.PNG)
![bellscreenshot_antconc1](https://user-images.githubusercontent.com/89995510/136712596-4954f696-6c7f-447b-9354-cd9930cc255c.png)
![bellscreenshot_antconc2](https://user-images.githubusercontent.com/89995510/136712601-ceb9898e-fa15-4925-878a-cd81867df6ec.png)

I looked at

[2021-10-11 13:49] bmg5877 commented on #43
While exploring the fc text, I came across some interesting phrases and words. First, on Antconc, I found the phrase "of the". One of the lines in the text associated with it was "Out of the court in agony. The tortures of the accused did not equal mine; she was in my hovel". When I searched in Voyant, a couple of the most common words were "Man", "Father", "Time", and "Elizabeth". Maybe this text

[2021-10-11 15:34] austinmurry commented on #45
So when I started exploring the lr text, I really wasn't sure of what it was. When I put the text through antconc, the set of clusters that stuck out to me was two words, "the ring". This started to give me a bit of an inkling about what it might be, so I clicked on it to see the concordance and my suspicions were proven correct as phrases came up involving two major people, Gandalf and Gollum. Th

[2021-10-11 19:47] julianjmg commented on #45
When I first started out with the lr.txt file, I had no idea what it could be, so I first started out with Ngrams starting with a size of 3 and one of the first things that stood out to me was the word shire. I didn't know what a shire was, so I looked it up and found out that it is a type of county in England. So that narrowed down the setting quite well. I scrolled a bit further down in the N-gr

[2021-10-11 23:00] IsabelCriswell commented on #44
<img width="1440" alt="Screen Shot 2021-10-11 at 6 10 17 PM" src="https://user-images.githubusercontent.com/89947104/136864971-5a6aee60-5cee-45eb-a58a-e465cf3dc7b5.png">
<img width="1440" alt="Screen Shot 2021-10-11 at 6 16 45 PM" src="https://user-images.githubusercontent.com/89947104/136864972-cd289739-525e-466d-b4fd-44657251bf41.png">

I found it interesting that Heathcliff occurred more often

[2021-10-12 03:01] jmp7651 commented on #44
When I was exploring the wc text, it was an unknown story to me and I did not know the source material. However, with the usage of the corpus analysis tools, I was able to get an idea of the plot. When I put the text through AntConc, from the various set of clusters, the one that stuck out to me was the two gram combination, "I was". This made me assume that this story was a retelling of events to

[2021-10-12 18:09] AlexanderVaughan commented on #46
![VoyabtCapture](https://user-images.githubusercontent.com/89950828/137005153-b30263a3-a8ca-4092-bce4-582f7d640036.PNG)
![Ant1Capture](https://user-images.githubusercontent.com/89950828/137005170-59199a63-14c7-4283-addb-fbdc3ad76de6.PNG)
![NT2Capture](https://user-images.githubusercontent.com/89950828/137005189-b48aee3c-1852-4bfd-8ba0-d4775e785c35.PNG)

I looked at anesthesia.txt in the radio play

[2021-10-12 18:12] Yuying-Jin commented on #46
I choose ants.txt. According to the name of the file, it seems to introduce ants, so I search the keyword "like" to learn what ants like to do or to eat. However, this txt file shows how Leiningen prevents ants from his plantation. He stops the ants from entering the plantation through the water canal. Then he kills the ants by flooding or flames, and finally he kills all of them.
![Jin_10_12_AntC

[2021-10-12 18:38] ZakMurphy191 commented on #43
While exploring the FC.txt I found most of the interest in "I am", "court" ,"I will" ,"my father" and etc... a phrase I found with my father was:
"There was a considerable difference between the ages of my parents, but this circumstance seemed to unite them only closer in bonds of devoted affection."
This shows me that in the reading there is some disconnect between the mother and father which bri

[2021-10-12 18:39] als7294 commented on #44
I am going to take a guess that this is a horror script about a girl named cathrine and her brother
<img width="588" alt="antcomp" src="https://user-images.githubusercontent.com/89995047/137010643-6c1e742c-c63e-43f8-814a-779b24e39f6a.png">

After reviewing the data from voyant tools however, I can say that I now believe the text to feature someone involving "linton" as the climax, as it peaks heav

[2021-10-12 18:41] ZakMurphy191 commented on #43
I agree with you I believe that it has something to do with the arguing within the family nice work!

[2021-10-12 18:45] bmg5877 commented on #43
I agree with your point of there was some disconnect between the mother and father. It does seem very likely after looking at all the key phrases from yours and how they match up with mine. Great job!

[2021-10-12 19:00] jeromenacey commented on #43
In the fc.txt, some of the n-grams that showed up the most frequently for my filter were the following: "which I had", "I did not", "I could not", "my father", "that I had". "Which I had" tells me, as the reader, that the author of this text must have lost something, or someone. That, coupled with the fact that it is the most commonly used n-gram tells me that they most likely are telling a story

[2021-10-12 19:14] SCD5363 commented on #45
![AntConSamDeeter_001](https://user-images.githubusercontent.com/89928602/137015412-9324f466-c312-43c1-9ecd-216f9eee3a09.PNG)
Ir.txt I found this "it is" phrase interesting because it could be replaced by it's but the author chose not to. Also the amount of time they use "it is" is a crazy amount. 
![LrVoyant](https://user-images.githubusercontent.com/89928602/137015844-f7f4f18a-a50f-4830-931a-a23

[2021-10-12 19:17] fkb5105 commented on #45
AntConc Exercise 2

So, basically the text I chose (without knowing beforehand) was "Lord of the Rings" and as far as I know the first book of the trilogy. Now even if you didn't read the books or know the story, using AntConc and Voyant you can tell some things about the story, like this place called "The Shire", or these creature’s hobbits, maybe even the name of some characters like Frodo, Gand

[2021-10-12 19:28] AloraBenitez commented on #46
![Screenshot (53)](https://user-images.githubusercontent.com/89956616/137015691-beab643e-3488-4700-b6cf-d4d64bd2936e.png)

![Screenshot (54)](https://user-images.githubusercontent.com/89956616/137015710-a980fd95-19d3-4987-aeaf-3d1eb20d1578.png)

![Screenshot (55)](https://user-images.githubusercontent.com/89956616/137015723-4c087e9a-aaa1-474e-96d7-84cf4c538ad9.png)

I went into Radio play and chos

[2021-10-13 03:03] tec5271 commented on #43
When exploring this text document in antconc to find repeating cases of phrases I was met with some pretty surprising results. I upped the minimum number of n-grams to 3 and max to 5 just to get some narrowed results and "which I had" was the top one. During this text that phrase hit 38 times which to me is quite impressive. The common occurrence of this phrase made me realize that this text is a

[2021-10-14 03:51] ztd5049 commented on #45
When I first opened the text document in AntConc, I immediately knew what the book was. Not specifically which book of the series, but I did know it was a part of the Lord of the Rings books. I saw hobbit, Frodo, Gandalf, and ring all in the top words on voyant, and I saw prepositional phrases like in the shire. An interesting phrase was "out of the". I found this interesting because a lot of the

[2021-10-14 14:48] jks6769 commented on #43
While exploring the fc.txt file, I made the minimum number of n-grams to 2 and the max to 4, the phrase that come up the most frequently was "of the", it cam up a total of 527 times. The phrase was often used to indicate a person or thing in context to a sentence. From looking at the text while in the voyant word cloud you can get a little understanding of what the text is about.
![Screenshot (2)]

[2021-11-30 05:27] ebeshero opened #47 "Remediation, Remixing, and Copyright Readings/Discussion"
Read the three following short articles:
<ul>
                        <li>Guilda Rostama <q><a href="https://www.wipo.int/wipo_magazine/en/2015/03/article_0006.html">Remix Culture and Amateur Creativity: A Copyright Dilemma</a></q> *Wipo Magazine*, June 2015.</li>
                        <li>Rich Stim, <q><a href="https://fairuse.stanford.edu/overview/fair-use/four-factors/">Measuring Fair Use: Th

[2021-12-06 05:37] ztd5049 commented on #47
Something that suprised me:
The idea of fair use intrigued me in multiple aspects. I've explored fair use on YouTube and their Content ID system. Reading the official guidelines of fair use, it brought to my attention my own experiences with copyright. I've uploaded multiple YouTube videos of piano covers of popular songs. Some of these videos saw a copyright claims. While only restricting monetiz

[2021-12-06 20:11] bmg5877 commented on #47
A thing that surprised me was that there was no actual limitation on how much of a work you could use and have it be "fair use". I was always told never to use more than around 15 seconds of a video clip or music or more than a couple of sentences in an essay when I was younger. Another thing I thought was interesting was how YouTube's copyright software functions. I used to have YouTube channel y

[2021-12-07 02:05] julianjmg commented on #47
The article that I'm going to be highlighting is "Fair Use in the Real World" and something that I found interesting is how there isn't a particular formula and that certain things can be considered fair use for something that's not being used for educational purposes while another thing can not be considered fair use and be used for educational purposes. There are definitely a lot of factors in p

[2021-12-07 05:45] jmp7651 commented on #47
From reading "Measuring Fair Use: The Four Factors", one detail that surprised me regarding fair usage was regarding the amount of content you could copy from a source. You are essentially given the ability to take as much as you want from a source, albeit decreasing the chances of it being excused as fair use, as long as the "heart" (a key feature) of the product is not taken and utilized. Howeve

[2021-12-07 16:00] tec5271 commented on #47
From the reading, "Measuring Fair Use: The Four Factors", I found one part to be surprising but not at the same time because of how much sense that it makes. In the section labeled "The Nature of Copyrighted Work" they explain the leeway that exists when working with factual works compared to fictional works such as plays and novels. Another important factor to note is how the rules differ in fair

[2021-12-07 17:06] ZakMurphy191 commented on #47
Highlight a passage from any of the articles that surprised you about copyright infringement and "fair use": What surprised you?
~ The article that I found to be most interesting was, "Measuring Fair Use : The Four Factors". The section of "The Amount and Substantiality of the Portion Taken", will be my main focus in the article as I thought that it was super interesting that the amount you take c

[2021-12-07 18:59] jks6769 commented on #47
From the article, "Measuring Fair Use: The Four Factors", something that surprised me was the use of copyrighted sources has to be used in a new or creative way, the purpose and character of your use of the sources have to have new meaning or expression. Your work essentially should be a transformation of the original copyrighted piece.

Gray Area: A gray area I found was in the fifth factor. The

[2021-12-07 19:03] Yuying-Jin commented on #47
I am surprised with when people use other's artwork for an educational purpose and not in a commercial way, it belongs to fair use, because it would not harm the potential market for the author's work. Although fair use decisions rely on a balance of four factors, ensuring whether the use is reasonable is a very uncertain thing, and in many cases it still needs to rely on the judge's decision.

In

[2021-12-07 19:32] austinmurry commented on #47
The article "Fair Use in the Real World" was an interesting article to me. I have always heard about "fair use" and have heard many myths and such about what it is and when it's okay to use someone else's work vs when not too. I was under the impression that you could use others work for education related purposes and that if you modified the work in some way so it was not exactly like the origina

[2021-12-07 20:23] jeromenacey commented on #47
One of the articles that I read that contained an interesting fact about copyright infringement and "fair use" is in "Measuring Fair Use: The Four Factors". In it, under the fifth fair use factor part, I found that the judge or jury who was morally offended could decide against fair use depending on how they were able to rationalize it. What surprised me, sort of, was that the passage essentially

[2021-12-09 00:27] gak5275 commented on #47
The fact that the photograph in Case #4 of the third article was considered fair use surprised me. Who gets to decide what the "nature" and "purpose" of a photo is? If someone used a photo that I took without crediting me and/or asking for my permission, I would have a problem with that too.

Two gray areas/unclear implications about fair use I noticed:

In Case #1 of the third article, the music

[2021-12-13 02:38] als7294 commented on #47
In the article by Wipo Magazine they say the following:

As someone with a large YouTube channel, I'm constantly battling YouTube's copyright flagging system, Many times I have had my video copyright claimed for generic sounds or quit background music. I also was a Twitch Affiliate, and I had to be very careful what songs I played in the background of my music.

I found the following grey areas in

[2022-01-27 15:59] #36 closed, assigned to nobody

[2022-01-27 15:59] #38 closed, assigned to nobody

[2022-01-27 15:59] #42 closed, assigned to nobody

[2022-01-27 15:59] #43 closed, assigned to nobody

[2022-01-27 15:59] #44 closed, assigned to nobody

[2022-01-27 15:59] #45 closed, assigned to nobody

[2022-01-27 15:59] #46 closed, assigned to nobody

[2022-01-27 15:59] #47 closed, assigned to nobody

[2022-01-27 16:00] ebeshero opened #48 "Requests to be Added as a Collaborator to This Repo"
Please post here to introduce your GitHub self to our Spring 2022 DIGIT 100 class, and request to be added as a collaborator on this repo!

[2022-01-27 16:11] ebeshero commented on #48
Sample response to demonstrate direct linking to an issue comment.

[2022-01-31 22:29] jms9354 commented on #48
requesting to be added as a collaborator

[2022-01-31 23:17] sydneymcdonough commented on #48
requesting to be added as a collaborator

[2022-02-01 01:26] tfk5306 commented on #48
request to be added

[2022-02-01 03:02] ghost commented on #48
requesting to be added as a collaborator

[2022-02-01 03:28] mmw6204 commented on #48
request to be added

[2022-02-01 12:57] MyeishaF commented on #48
request to be added

[2022-02-01 14:26] abbeyypalmer commented on #48
request to be added

[2022-02-01 16:05] tristinhain commented on #48
Requesting to be added as a collaborator

[2022-02-01 16:14] ebeshero commented on #48
If I put a "hooray" emoji on your request, that means I have sent you an invitation to join the introDH-Hub as a collaborator! Go and check the email you used to configure GitHub, and look for an invitation from me or the introDH-Hub to join, and **click through to Accept** on the invitation.

[2022-02-01 16:17] ipm5130 commented on #48
Requesting to be added!

[2022-02-01 18:36] jmh7557 commented on #48
request to add

[2022-02-02 17:30] ebeshero commented on #48
@ipm5130 and @jmh7557 I've now sent you an invitation to join the introDH-Hub as a collaborator! Go and check the email you used to configure GitHub, and look for an invitation from me or the introDH-Hub to join, and **click through to Accept** on the invitation.

[2022-02-02 21:15] TheMightyDaltho opened #49 "Sorry I'm late."
This is Dalton, requesting to be added as a collaborator

[2022-02-02 21:16] #49 closed, assigned to nobody

[2022-02-02 21:17] TheMightyDaltho commented on #48
Requesting to be added as a collaborator, Sorry I'm late.

[2022-02-02 23:38] JakeSala commented on #48
Requesting to be added as a collaborator

[2022-02-03 02:31] ebeshero commented on #48
@TheMightyDaltho @JakeSala I've now sent you an invitation to join the introDH-Hub as a collaborator! Go and check the email you used to configure GitHub, and look for an invitation from me or the introDH-Hub to join, and click through to Accept on the invitation.

[2022-02-03 17:45] JiminyKricket0323 commented on #48
requesting to be added as a collaborator

[2022-02-03 17:46] hannahiadeluca commented on #48
requesting to be added as a collaborator

[2022-02-08 17:28] Brycekrispies33 commented on #48
add me plz :)

[2022-02-15 14:47] ebeshero commented on #48
@Brycekrispies33 I nearly missed yours because it arrived so late and you didn't post anything in Canvas. :-(

[2022-02-15 18:37] JaxAbele commented on #48
Please add!

[2022-02-16 23:38] ipm5130 commented on #48
I had to delete my old repo bc of some issues and I completely forgot to ask to be added as a collaborator here, asking to be added one more time!

[2022-03-03 15:52] ebeshero opened #50 "Class Exercise: Introducing Voyant Tools"
Choose of these webpages and copy the text from the page:

* [Kew Gardens](http://digital.library.upenn.edu/women/woolf/monday/monday-07.html)
* [Girl](https://www.newyorker.com/magazine/1978/06/26/girl)
* [Tell-Tale Heart](https://poemuseum.org/the-tell-tale-heart/)

Take a few minutes to read the story you chose.
**In your own view from reading, what seem to be some of the most important words a

[2022-03-17 13:42] ebeshero opened #51 "Mystery Text Discussion of fc.txt"
Post your screenshots and discuss your findings about fc.txt here!

[2022-03-17 14:31] ebeshero opened #52 "Mystery Text Discussion of jcb.txt"
Post your screenshots and findings about jcb.txt here!

[2022-03-17 14:33] ebeshero opened #53 "Mystery Text Discussion of ww.txt"
Post your screenshots and discuss your findings about ww.txt here!

[2022-03-17 14:33] ebeshero opened #54 "Mystery Text Discussion of cpi.txt"
Post your screenshots and discuss your findings about cpi.txt here!

[2022-03-17 14:34] ebeshero opened #55 "Mystery Text Discussion of a radio play"
Post your screenshots and discuss your findings about any one of the texts in the radioPlays folder here!

[2022-03-21 21:28] TheMightyDaltho commented on #51
From my ngrams and words used in abundance in this text, It's pretty clear to me this is the novel Frankenstein by Mary Shelly. This assumption is based on two things I noticed. First when I was looking at length 6 n-grams, I noticed the phrase "with you on yourr wedding night" which is infamous threat made by the monster to Dr. Frankenstein when he refused to make him a wife. To double check I ch

[2022-03-21 21:31] jms9354 commented on #53
I chose this text, what I discovered is between using AntConc & Voyant tools was on AntConc the word "Martians" appeared 164 time, to where in voyant tools it appeared 163. I copy and pasted the exact same not sure why it was different. Also fascinating because I have no idea what the Mystery text is, but based off this I assume it has to do with martians or aliens of some sort. On AntConc the mos

[2022-03-22 01:11] MyeishaF commented on #54
In cpi.txt file someone is sailing from England to New York, on a ship called Olympia. It is possibly the prime minister. Parcels are being loaded abroad the ship, to be sold in New York. Poirot whoever they are seems to be the main character. Okay, so the prime minister was murdered after traveling to New York, on a ship called the Olympia. Sailing from England to New York City. There are two det

[2022-03-22 05:21] sydneymcdonough commented on #51
After using AntConc it surprised me that the most commonly used word besides the most common words such as 'the' and 'to' was the word 'Elizabeth'. This reading was multiple articles "ALPHONSE FRANKENSTEIN" sent to different people in his life. The most common phrase was 'with you on your wedding night'. Putting the most frequent word and phrase and previous knowledge of reading the story of Frank

[2022-03-22 05:45] ebeshero commented on #51
@sydneymcdonough Where is Elizabeth showing up in Antconc? I don’t see it in your screen captures?

None of the names you mention are in your screen shots, so I am not understanding this analysis.

[2022-03-22 06:44] mmw6204 commented on #51
So initially reading some of this text left me a little confused. I use AntConc and was quite surprised with the results. "Be with you on your wedding" and "with you on your wedding night" were the most used phrases in the text. When I searched up Frankenstein to see what would pop up, I became slightly more confused. Each phrase was used in a different tense which meant that most of them were quo

[2022-03-22 14:42] tfk5306 commented on #55
![voyant tnt phrase](https://user-images.githubusercontent.com/98789268/159507473-aad3f7d5-4f94-4151-a12d-25e828aad617.PNG)
![antconc tnt](https://user-images.githubusercontent.com/98789268/159507490-2237a6fe-8722-47fc-b21a-03da8c088732.PNG)
[tnt01.txt](https://github.com/newtfire/introDH-Hub/files/8325241/tnt01.txt)
![voyant tnt01](https://user-images.githubusercontent.com/98789268/159507511-ed2f

[2022-03-22 15:40] ipm5130 commented on #52
![2022-03-22](https://user-images.githubusercontent.com/98833335/159519464-c0faf0b3-ed00-4277-93d4-bbb40ce52406.png)
![2022-03-22 (1)](https://user-images.githubusercontent.com/98833335/159519513-d60b6b7c-73c2-4424-9070-74af7b1904ad.png)
I would like to start with how incredibly interesting the voyant tool made a simple article look. In all seriousness, this was fun to look at and explore. The ngr

[2022-03-22 15:58] JiminyKricket0323 commented on #54
It was very interesting to see that "mon ami i" is mentioned 11 times in the text and "elmer s dale" is mentioned 6 times in the text. First, I was wondering what is that even mean. But when I looked at on KWIC,  I realised that this system isn't reading the ' before "s". so it appears to be elmer s dale instead elmer's dale. And also "elmer s dale" is "mon ami_. I" in the text. (I have all of the

[2022-03-22 16:35] JiminyKricket0323 commented on #54
![SC TEXT 4](https://user-images.githubusercontent.com/98975456/159529366-77f24328-5c34-40fa-8f93-2c49ef8b18f9.png)
![SC TEXT 3](https://user-images.githubusercontent.com/98975456/159529372-6adcd4b9-7744-4db6-aa85-7aa61c2772ce.png)
![SC TEXT 2](https://user-images.githubusercontent.com/98975456/159529373-6ea8eef8-ab11-4806-be4f-1d63993bb288.png)
![SC TEXT 1](https://user-images.githubusercontent.c

[2022-03-23 02:37] JaxAbele commented on #53
There were a lot of interesting trends i noticed when looking at this text. As the n-gram gets higher the frequency of words and phrases becomes much smaller. at n-gram 5 there was only one frequency that was above 5. The frequencies became more common the smaller the n-gram got. Frequency counts in the double digits start at n-gram 4 and continue down to n-gram 1. There are no double digit freque

[2022-04-30 00:42] ghost commented on #53
The most interesting thing that I found when doing the analysis of this text is when the N-Gram Size was 3 there were two phrases the top of list, "a multitude of" and "a mass of". These two phrases imply a that a noun would follow and these would modify the quantity, however when the N-Gram size is 4 the phrases don't appear at all meaning that they all have different nouns that they are modifyin

[2022-09-20 15:42] #50 closed, assigned to nobody

[2022-09-20 15:42] #51 closed, assigned to nobody

[2022-09-20 15:42] #53 closed, assigned to nobody

[2022-09-20 15:42] #54 closed, assigned to nobody

[2022-09-20 15:42] #55 closed, assigned to nobody

[2022-09-20 15:43] ebeshero opened #56 "Requests to Join this Repo as a Collaborator"
Please post here to introduce your GitHub self to our Newtfire GitHub organization and to this repo for Intro to Digital Humanities.

[2022-09-20 15:43] #48 closed, assigned to nobody

[2022-09-20 18:18] tylerakam commented on #56
My username is @tylerakam. @ebeshero please add me as a collaborator!

[2022-09-20 18:30] epp5198 commented on #56
My username is @epp5198 please add me @ebeshero

[2022-09-20 18:30] tyccott commented on #56
My username is @tyccott. @ebeshero please add me as a collaborator :)

[2022-09-20 18:30] UAEFasool commented on #56
My username @UAEFasool. My name is Faisal. Add me

[2022-09-20 18:30] JordanJ7 commented on #56
My username is @JordanJ7

[2022-09-20 18:30] Remdog712 commented on #56
My username is @Remdog712
please add me @ebeshero
-Remington Orange

[2022-09-20 18:31] mblankenberg25 commented on #56
My username is @mblankenberg25
please add me @ebeshero
-Mason Blankenberg

[2022-09-20 18:31] ZSchleger commented on #56
My username is @ZSchleger

[2022-09-20 18:31] HadleighJae commented on #56
My username is @HadleighJae
Please add me @ebeshero
~ Hadleigh Jae Bills

[2022-09-20 18:31] ArtObssesed commented on #56
My Username Is @TealDragon21
Please Add Me @ebeshero
-Riley Gank

[2022-09-20 18:31] LPHerschell commented on #56
My username is @LPHerschell. Please add me @ebeshero.
- Lyndon Herschell

[2022-09-20 18:31] Stach13 opened #57 "My username is @stach13. @ebeshero please add me as a collaborator to the introDH-Hub"

[2022-09-20 18:32] justnobl commented on #56
My username is @justnobl please add me @mblankenberg25

[2022-09-20 18:32] mckaylas615 commented on #56
my username is @mckaylas615. please add me @ebeshero

[2022-09-20 18:32] LizardWizard01 commented on #56
My user is @LizardWizard01
Please add me @ebeshero

[2022-09-20 18:32] SavannahRicks commented on #56
my username is @SavannahRicks so add me!

[2022-09-20 18:34] Stach13 commented on #56
My username is @Stach13, @ebeshero please add me as a collaborator to the introDH-Hub repo.

[2022-09-20 18:36] #57 closed, assigned to nobody

[2022-09-20 18:36] ebeshero commented on #56
@JordanJ7 Hi Jordan!

[2022-09-20 18:41] Seeedle commented on #56
Yo (●'◡'●)(●'◡'●)(●'◡'●) Add me as a collaborator, please! @Seeedle (～￣▽￣)～

[2022-09-20 18:43] Reg157 opened #58 "Regina"
My username is @Reg157

[2022-09-20 18:44] Reg157 commented on #56
My username is @Reg157

[2022-09-21 04:04] spookybeetle commented on #56
Hi I'm Milo, my user is @spookybeetle.

[2022-09-21 04:05] ghost commented on #56
Hi my user is @spookybeetle, I need to be added as a collaborator.

[2022-09-21 12:49] ebeshero commented on #58
@Reg157 I sent you an invitation to our GitHub organization this morning--please check your email to accept it.

[2022-09-21 21:45] MinWu859 opened #59 "Adding Hub Collaborators"
My username is @MinWu859. @ebeshero please add me as a collaborators to this DHClass-Hub.

[2022-09-22 14:05] #58 closed, assigned to nobody

[2022-09-22 14:05] #59 closed, assigned to nobody

[2022-09-22 14:08] ebeshero opened #60 "Pending invitations to newtfire GitHub organization"
Will the following GitHub people please check your email that you used to create your account, and accept my invitation to join the newtfire GitHub organization?

@LizardWizard01
@Seeedle
@Reg157
@MinuWu859

[2022-09-29 20:49] jmb9634 commented on #56
My username is @jmb9634, could you add me as a collaborator? @ebeshero

[2022-10-07 17:25] ebeshero opened #61 "How to represent code in an HTML page"
If you're interested in sharing a glimpse of your code on your website, there are a couple of ways to do it. The tricky part is, you need to represent the tags in a way that a web browser wouldn't recognize as actual HTML (or CSS or XML etc) tags. You need to use **escape characters** to represent the angle brackets, and these always begin with a `&` character. Because the `&` is specially used fo

[2022-10-11 16:54] ebeshero opened #62 "Class Exercise: Introducing Voyant Tools"
Choose one text from collection 1, and one text from collection 2:

Collection 1:
* [Web archiving the war in Ukraine](https://netpreserveblog.wordpress.com/2022/07/20/web-archiving-the-war-in-ukraine/)
* [DIGIT 100 Comparative Website Development assignment](https://newtfire.org/courses/introDH/comparativeWebAssign.html)
* [Weather Channel Weatherscan shutting down](https://arstechnica.com/inform

[2022-10-13 16:36] ebeshero opened #63 "Mystery text discussion of fc.txt"
Post your screenshots and discuss your findings about fc.txt here!

[2022-10-13 16:37] ebeshero opened #64 "Mystery Text discussion of web.txt"
Post your screenshots and discuss your findings about web.txt here!

[2022-10-13 16:37] #62 closed, assigned to nobody

[2022-10-13 16:41] ebeshero opened #65 "Mystery text discussion of ww.txt"
Post your screenshots and discuss your findings about ww.txt here!

[2022-10-13 16:42] ebeshero opened #66 "Mystery text discussion of cpi.txt"
Post your screenshots and discuss your findings about cpi.txt here!

[2022-10-13 16:42] ebeshero opened #67 "Mystery text discussion of dc.txt"
Post your screenshots and discuss your findings about dc.txt here!

[2022-10-13 16:43] ebeshero opened #68 "Mystery text discussion of radio play"
Post your screenshots and discuss your findings about one or a group of radio plays here!

[2022-10-13 19:57] Remdog712 commented on #65
My findings were as follows
-N-grams 2 3 4 5 all had a frequency above 5.
-2 3 4 go past 10; 4 only reached 13.\
-I found that in Antconc:

“..of the Martian..” shows up 28 times
“..of the pit…” shows up 26 times
“..out of the…” shows up 53 times

The phrases in Voyant with a frequency higher than 5 - 10 all were too vague I felt to give enough context.

From everything I gathered, the ww text fil

[2022-10-16 18:06] HadleighJae commented on #65
Above 5 n-gram:
  2: 1467
  3: 313
  4: 33
  5: 1
Double digits n-gram:
  2: 541
  3: 65
  4: 3
Phrases often repeated:
  The Edge of the Pit
  Of the Heat Ray
  The Martians
  Ulla Ulla Ulla
  My Brother
  The Artilleryman
From reading the text on both Voyant and AntConc, I wonder if this story is about the Martians trying to take over the world. There are many references to a military and potent

[2022-10-17 15:24] tylerakam commented on #63
In my exploration of the mystery text, I discovered a few interesting details that have helped me gain suspicions of what the text is. I have not found any discernment between fiction and nonfiction, but I have found that through different Ngrams, I have suspected that this text takes place near water in some way. From there on out, I tried keywords in the KWIC, such as "sea" and "ship." From the

[2022-10-17 20:15] MinWu859 commented on #66
image1: ![屏幕截图(124)](https://user-images.githubusercontent.com/61258632/196269620-58040630-8b31-4a4e-b3eb-2f6d8b741a03.png)
image2:
![屏幕截图(125)](https://user-images.githubusercontent.com/61258632/196270023-ad65da5b-7719-4a50-a2a0-694d29445301.png)
image3:
![屏幕截图(126)](https://user-images.githubusercontent.com/61258632/196270087-99197ec7-11db-47ff-9ecd-5c138f5add09.png)
 Through my studying and dis

[2022-10-18 00:27] ZSchleger commented on #63
When putting the mystery text into Voyant it found that the most common words in the text were "man", "life", "father", "time", and "shall".  When I put the mystery text into AntConc and set the N-Gram to 3 the most common phrase was "the old man" which had appeared 29 times. While looking at the KWIC I found that the old man's name is De Lacy and there is also a man named Felix. I then decreased

[2022-10-18 00:52] ghost commented on #68
Worried for my guy John and Horace in Anesthesia.txt. It felt like it was maybe a poem about anesthesia, though it could be something much more sinister. Then I am reading the sentences around the names and it literally reads like some deranged murder/assisted suicide.

<img width="1245" alt="Screen Shot 2022-10-17 at 8 48 18 PM" src="https://user-images.githubusercontent.com/82339806/196309916-0f

[2022-10-18 01:29] JordanJ7 commented on #67
I have noticed in ANTCONC with no restrictions to the ngram that there is an extreme amount of phrases such as "van Helsing" (322), "the professor"(150), "the door" (136). The most frequent phrase was "of the" (865). The KWIC phrase that I searched was "Van Helsing", from what appears to be a name that needs to be summoned such as summoning a demon or saying just an old falsified way of calling so

[2022-10-18 15:41] Stach13 commented on #64
In terms of what the .txt could be written as, I think one of the most apparent aspects of it is that it's a novel written in first person. Documenting each thing the main character comes across and each dialogue encountered with other characters. Every sentence and paragraph was very descriptive to the main character's perspective, even writing some of their thoughts and motives. For example, the

[2022-10-18 16:40] justnobl commented on #63
Using this mystery text I noticed a few things. There is a few certain phrases that are repeated a lot more that you would expect if you just read the text. Ngram size 4 showed me there is a huge jump from how many times a certain word is used in a text rather than a whole phrase. With ngram size 4, there was phrases in the double digits and also where the frequency broke 5. The most frequent "phr

[2022-10-18 16:52] LPHerschell commented on #64
The .txt file seems to be a first person recount/monologue of events that have taken place around the main character. Years are written to mark the time period. The format of the text seems to imply that the main character is trying to chronicle the events and interactions before them. Characters are given much detail as to what they are doing within the text. However, I noticed that while I found

[2022-10-18 17:01] mblankenberg25 commented on #66
![Mysterytext2](https://user-images.githubusercontent.com/114019724/196491524-6b744aa7-5d5b-4627-b6bb-221f6e2b544a.jpg)
![mysterytext](https://user-images.githubusercontent.com/114019724/196491560-8c1c39ec-fda9-45ef-9b78-a8748fcb0033.jpg)
![mysterytext3](https://user-images.githubusercontent.com/114019724/196497180-5326e3f0-aca8-4ed1-a328-3de08151d400.jpg)

Frequent phrases:

of the - 330
the prim

[2022-10-18 20:09] epp5198 commented on #67
![antconc1](https://user-images.githubusercontent.com/112676517/196529956-428689e8-6d1f-463c-8025-80dbbce33efb.png)
![antconc2](https://user-images.githubusercontent.com/112676517/196531239-927643fe-1f5e-44f6-806f-5333315944a7.png)
While looking at this mystery text through AntConc I searched for an N-Gram of 3. The most common terms were "i could see"(73), "i could not" (68), and "dr van helsing"

[2022-10-19 21:22] SavannahRicks commented on #68
The text I randomly chose was an interesting one. When I saw the first word to show up in the word cloud to be "peg," I was like "huh?" But as I explored more of the context I discovered that it was a name of one of the main characters in this story. The reason this name, and others, pop up the most is because its a script for a play.  The name shows up everytime that charcter is speaking or doing

[2022-11-02 05:35] UAEFasool commented on #63
### **Using AntConc, the general idea I got of fc.text was that it was a pessimistic and gloomy story about the author recalling the murder of someone close to him.**

The first thing I did on AntConc was adjust the N-Gram size to 3. This allowed me to see the most commonly-repeated three word phrases in the text. That included phrases like, "i did not", "i could not",  "the old man", "that i had"

[2022-11-04 16:00] DivinexRoyalty opened #69 "dc.txt review"
While looking through the file path this is what came up on Voyant after I pasted the plain text in.
![voyant](https://user-images.githubusercontent.com/112570479/200020426-d2322de9-a859-4b6f-8252-c6ca9de3b28d.png)

Just scrolling through the doc, the title and the amount of written out times I can see tells me that this document is somewhat like a captains log or journal according to the title.